input[type="submit"].btn-primary, button.btn-primary {
    color: @primary-color-md;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input[type="submit"].btn-secondary, button.btn-secondary {
    color: @white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.btn-sin-fondo-principal {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-transform: initial !important;
    border: none;
    img {
        width: 17px;
        height: auto;
        display: block;
        margin-right: 10px;
    }
    p {
        color: @primary-color-md;
        font-family: 'primary', sans-serif;
        font-size: 16px;
    }
}

.btn-primary {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: @secondary-color-lg;
    height: 40px;
    padding: 0 20px;
    margin: 0;
    text-transform: initial !important;
    border: none;
    margin-bottom: 15px;
    transition: .3s ease;
    p {
        color: @primary-color-md;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: @secondary-color-md;
    }
}

.btn-secondary {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: @primary-color-md;
    height: 40px;
    padding: 0 20px;
    margin: 0;
    text-transform: initial !important;
    border: none;
    margin-bottom: 15px;
    transition: .3s ease;
    p {
        color: @white;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: @primary-color-dk;
    }
}