/************************************************************/

//						   Colours                          //  

/************************************************************/

// Turquese

@turquese-md: #e3f7f3;

// Blue

@blue-lg: #f3f3f3;
@blue-md: #1c355e;
@blue-dk: #0c1d39;

@blue-transparent:rgba(62, 62, 62, 0.4);

// Yellow

@yellow-lg: #fff393;
@yellow-md: #ffd102;

@error-message: #A01919;


@primary-color-lg: @blue-lg;
@primary-color-md: @blue-md;
@primary-color-dk: @blue-dk;

@primary-color-transparent: @blue-transparent;

@secondary-color-lg: @yellow-lg;
@secondary-color-md: @yellow-md;

@terciary-color-md: @turquese-md;

@black: #000;
@white: #fff;