body {
    margin: 0;
    padding: 0;
    // font-family: 'helveticaBoldCond';
    // color: @gris-oscuro;
}

.main-wrapper {
    min-height: 100%;
    @media all and(min-width: 1330px) {
        width: 100%;
        max-width: 1250px;
        margin: 0 auto;
    }
}


.main-wrapper-600 {
    min-height: 100%;
    @media all and(min-width: 768px) {
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    @media all and(min-width: 1200px) {
        max-width: 600px;
    }
}



.main-wrapper-1340 {
    @media all and(min-width: 1330px) {
        // height: 100%;
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
    }
}

.main-wrapper-1440 {
    @media all and(min-width: 1330px) {
        // height: 100%;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
}

.main-wrapper-1000 {
    @media all and(min-width: 1200px) {
        // height: 100%;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.main-wrapper-910 {
    @media all and(min-width: 992px) {
        // height: 100%;
        width: 100%;
        max-width: 910px;
        margin: 0 auto;
    }
}

.main-wrapper-left {
    @media all and(min-width: 1330px) {
        margin-left: calc(~'('100vw ~'-' 1200px~')' ~'/' 2);
    }
}

.main-wrapper-right {
    @media all and(min-width: 1330px) {
        margin-right: calc(~'('100vw ~'-' 1200px~')' ~'/' 2);
    }
}

.srp-mainrow {
    margin-top: 70px;
    @media all and(min-width: 1600px) {
        margin-top: 100px;
    }
}

li {
    &:focus {
        outline: none;
    }
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: initial;
}

h1 {
    color: @primary-color-md;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    @media all and(min-width: 1200px) {
        font-size: 36px;
    }
}

h2 {
    color: @primary-color-md;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    @media all and(min-width: 1200px) {
        font-size: 24px;
    }
}

h3 {
    color: @primary-color-md;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    @media all and(min-width: 1200px) {
        font-size: 18px;
    }
}

h4 {
    color: @primary-color-md;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    @media all and(min-width: 1200px) {
        font-size: 18x;
    }
}

h5 {
    color: @primary-color-md;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    @media all and(min-width: 1200px) {
        font-size: 16px;
    }
}

p {
    color: @primary-color-md;
    font-family: 'primary';
    font-size: 14px;
    line-height: 20px;
    @media all and(min-width: 1200px) {
        font-size: 16px;
    }
}

a {
   color: @primary-color-md; 
}

.pop-up--solicitud, .footer-newsletter {
    .form-group {
        input[type="text"], input[type="email"] {
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            height: 40px;
            border: none;
            margin-bottom: 15px;
            color: @primary-color-md;
            font-family: "primary";
            font-size: 14px;
            box-shadow: initial;
            padding: 0 10px;
            font-family: "primary";
            &::placeholder {
                font-family: "primary";
                color: @primary-color-md;
                font-family: "primary";
                font-size: 14px;
            }
            &:focus {
                box-shadow: 0 0 5px #ccc;
                outline: none;
            }
        }
    }
}


.form-contact {
    margin-bottom: 15px;
    @media all and(min-width: 1200px) {
        margin-bottom: 30px;
    }
    input[type="text"], input[type="email"] {
        height: 40px;
        padding: 0 10px;
    }
    textarea {
        padding: 10px;
    }
    input[type="text"], input[type="email"], textarea {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        // height: 40px;
        border: 1px solid @secondary-color-md;
        margin-bottom: 5px;
        margin-top: 5px;
        color: @primary-color-md;
        font-family: "primary";
        font-size: 14px;
        box-shadow: initial;
        font-family: "primary";
        @media all and(min-width: 1200px) {
            margin-top: 10px;
        }
        &::placeholder {
            font-family: "primary";
            color: @primary-color-md;
            font-family: "primary";
            font-size: 14px;
        }
        &:focus {
            box-shadow: 0 0 5px @secondary-color-lg;
            outline: none;
        }
    }
}


.box-text {
    width: 100%;
    max-width: calc(100% ~"-" 80px);
    margin: 0 auto;
    border-left: 10px solid @white;
    padding: 20px 0 20px 20px;
    margin-bottom: 60px;
    position: relative;
    @media all and(min-width: 1200px) {
        padding: 30px 0 30px 50px;
        &::after {
            width: 50px;
        }
        &::before {
            width: 50px;
        } 
    }
    &.box-text-yellow, &.amarillo {
        border-left: 10px solid @secondary-color-md;
        &::after {
            background-color: @secondary-color-md;
        }
        &::before {
            background-color: @secondary-color-md;
        } 
    }
    &.blanco {
        border-left: 10px solid @white;
        &::after {
            background-color: @white;
        }
        &::before {
            background-color: @white;
        } 
    }
    &.azul {
        border-left: 10px solid @primary-color-md;
        &::after {
            background-color: @primary-color-md;
        }
        &::before {
            background-color: @primary-color-md;
        } 
    }
    &::after {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        width: 30px;
        background-color: @white;
    }
    &::before {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 10px;
        width: 30px;
        background-color: @white;
    }
}




// ********************* Estilos WP por defecto para Editor Wysing ********************


.editor-wysiwyg {
    p {
        line-height: 20px;
        margin-bottom: 20px;
    }
    a {
        text-decoration: underline;
    }
    ol, ul {
        margin-bottom: 20px;
        li {
            margin-bottom: 10px;
            list-style-position: inside !important; 
            list-style: decimal;
            color: @primary-color-md;
            font-family: 'primary';
            font-size: 14px;
            line-height: 20px;
            &:nth-last-of-type(1) {
                margin-bottom: 0;
            }
            @media all and(min-width: 1200px) {
                font-size: 16px;
            }
        }
    }
    p:last-child, ol:last-child, ul:last-child {
        margin-bottom: 0;
    }
    .entry-content img {
        margin: 0 0 1.5em 0;
        max-width: 100%;
        height: auto;
    }
    .alignleft, img.alignleft {
        margin-right: 1.5em;
        display: inline;
        float: left;
    }
    .alignright, img.alignright {
        margin-left: 1.5em;
        display: inline;
        float: right;
    }
    .aligncenter, img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both;
    }
    .wp-caption {
        margin-bottom: 1.5em;
        text-align: center;
        padding-top: 5px;
    }
    .wp-caption img {
        border: 0 none;
        padding: 0;
        margin: 0;
    }
    .wp-caption p.wp-caption-text {
        line-height: 1.5;
        font-size: 10px;
        margin: 0;
    }
    .wp-smiley {
        margin: 0 !important;
        max-height: 1em;
    }
    blockquote.left {
        margin-right: 20px;
        text-align: right;
        margin-left: 0;
        width: 33%;
        float: left;
    }
    blockquote.right {
        margin-left: 20px;
        text-align: left;
        margin-right: 0;
        width: 33%;
        float: right;
    }
}




// ********************* Barra Lateral ********************

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)*/
    border-radius: 0;
    background-color: @primary-color-lg;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: @primary-color-lg;
}
::-webkit-scrollbar:horizontal{
    height: 0;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: @primary-color-dk;
}



// ********************* Selección de texto ********************

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, a::selection, label::selection, span::selection, img::selection, td::selection, tr::selection, th::selection, strong::selection, address::selection, mark::selection {
    background: @primary-color-dk;
    color: @secondary-color-md;
    text-shadow: 0px 0px #fff;
}

/* Firefox */
p::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, a::-moz-selection, label::-moz-selection, span::-moz-selection, img::-moz-selection, td::-moz-selection, tr::-moz-selection, th::-moz-selection, strong::-moz-selection, address::-moz-selection, mark::-moz-selection {
    background: @primary-color-dk;
    color: @secondary-color-md;
    text-shadow: 0px 0px #fff;
}



/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}



/*************** SIMPLE INNER SCROLLBAR ***************/
 
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 5px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
 
// .scrollbar-inner > .scroll-element .scroll-element_track,
// .scrollbar-inner > .scroll-element .scroll-bar {
//     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
//     filter: alpha(opacity=40);
//     opacity: 0.4;
// }
 
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: @secondary-color-md; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: @primary-color-md; }
// .scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: green; }
// .scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: green; }
 
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
 
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }



#catapult-cookie-bar {
    .cdlopd-left-side {
        font-family: 'primary';
        a {
            font-family: 'primary-bold';
        }
    }
    .cdlopd-right-side {
        button {
            border-radius: 0;
            font-family: 'Montserrat';
            font-weight: 700;
            padding: 5px 10px;
            font-size: 14px;
            cursor: pointer;
            @media all and(min-width: 1200px) {
                padding: 7px 20px;
                font-size: 16px;    
            }
            &:focus {
                outline: none;
            }
            &#catapultCookieRechazar {
                background-color: initial;
                color: @white;
            }
        }
    }
}



// Loader

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 20000000;
    background: url("/wp-content/themes/peleman/img/gif-peleman.gif") center no-repeat @white;
    background-size: 50%;
    @media all and(min-width: 768px) {
        background-size: 20%;
    }
    @media all and(min-width: 1200px) {
        background-size: 10%;
    }
}