@font-face {
    font-family: 'primary';
    src: url('../fonts/gotham/gotham-book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'primary-bold';
    src: url('../fonts/gotham/gotham-ultra.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'primary-bold';
    src: url('../fonts/gotham/gotham-ultra.otf');
    font-weight: normal;
    font-style: normal;
}