// Productos destacados

.srp-section.section-home-products, .block-related {
    margin-bottom: 40px;
    position: relative;
    padding: 50px 0 40px;
    &.duplicate {
        margin: 0 !important;
    }
    .fondo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 50%;
        background-color: @secondary-color-md;
    }
    .section-home-products--content {
        padding: 0 20px 0 0;
        .box-text {
            max-width: calc(100% ~"-" 50px);
            margin: 0 0 20px 20px;
            border-color: @secondary-color-md;
            &::after {
                background-color: @secondary-color-md;
            }
            &::before {
                background-color: @secondary-color-md;
            }                
        }
        .text-secondary {
            padding-left: 20px;
            margin-bottom: 60px;
            h3 {
                text-transform: uppercase;
            }
        }
        .carousel-home-products--content {
            position: relative;
            padding-right: 20px;
            .box-dots {
                position: absolute;
                z-index: 10;
                height: 64px;
                width: calc(100% ~"-" 20px);
                background-image: url(../img/dot.svg);
                background-repeat: repeat;
                background-position: unset;                 
                top: -32px;
                width: 50%;
                right: -20px;
            }
            .carousel-home-products, .carousel-single-products {
                height: 330px;
                position: relative;
                .owl-stage-outer {
                    height: 100%;
                    .owl-stage {
                        height: 100%;
                        .owl-item {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            a.item-product {
                                position: relative;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                // background-color: @primary-color-lg;
                                .opacity {
                                    position: absolute;
                                    background-color: rgba(255, 255, 255, 0.9);
                                    height: 40px;
                                    width: calc(100% ~"-" 20px);
                                    transform: translateX(-50%);
                                    margin-bottom: 10px;
                                    bottom: 0;
                                    left: 50%;
                                    right: 0;
                                    h3 {
                                        text-transform: uppercase;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        right: auto;
                                        transform: translate(-50%, -50%);
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -20px;
                    button {
                        background-color: @white;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        &:nth-of-type(1) {
                            margin-bottom: 10px;
                        }
                        &:focus {
                            outline: none;
                        }
                        img {
                            display: block;
                            width: 10px;
                            height: auto;
                        }
                    }
                }
            }
            // .tittle-product {
            //     padding: 20px 0;
            //     h3 {
            //         text-transform: uppercase;
            //     }
            // }
        }
    }
}

.cuatro-bloques--content {
    margin-bottom: 40px;
    padding: 0 20px;
    .item-bloque-contacto {
        border: 1px solid @secondary-color-md;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            margin-bottom: 10px;
            display: block;
            width: 55px;
            height: auto;
        }
        h3 {
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            text-align: center;
        }
    }
}

@media all and(min-width: 768px) {
    .srp-section.section-home-products, .block-related {
        margin-bottom: 80px;
        padding-bottom: 80px;
        .fondo {
        }
        .section-home-products--content {
            .box-text {
                &::after {
                }
                &::before {
                }                
            }
            .text-secondary {
                max-width: 300px;
                h3 {
                }
            }
            .carousel-home-products--content {
                .box-dots {
                    width: 368px;
                    right: 60px;
                    top: -16px;
                }
                .carousel-home-products, .carousel-single-products {
                    height: 300px;
                    // width: calc(100% ~"-" 20px);
                    // margin-left: auto;
                    .owl-stage-outer {
                        .owl-stage {
                            .owl-item {
                                a.item-product {
                                    // .opacity {
                                    //     width: 50px;
                                    //     height: 100%;
                                    //     left: 0;
                                    //     h3 {
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                    .owl-nav {
                        button {
                            &:nth-of-type(1) {
                            }
                            &:focus {
                            }
                            img {
                            }
                        }
                    }
                }
            }
        }
    }

    .cuatro-bloques--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item-bloque-contacto {
            flex-basis: calc(~'49% - 40px');
            &:last-child {
                margin-bottom: 10px;
            }
            img {
            }
            h3 {
            }
            p {
            }
        }
    }
}

@media all and(min-width: 992px) {
    .srp-section.section-home-products, .block-related {
        padding-bottom: 95px;
        .fondo {
        }
        .section-home-products--content {
            padding-right: 0;
            .box-text {
                margin-left: 80px;
                max-width: calc(100% ~'-' 110px);
                &::after {
                }
                &::before {
                }                
            }
            .text-secondary {
                padding-left: 80px;
                margin-bottom: 30px;
                h3 {
                }
            }
            .carousel-home-products--content {
                padding-right: 12.5%;
                .box-dots {
                    height: 80px;
                    right: calc(12.5% ~'+' 50px);
                }
                .carousel-home-products, .carousel-single-products {
                    height: calc(~'('100vw ~'-' 12.5vw~')' ~'/' 3);
                    .owl-stage-outer {
                        .owl-stage {
                            .owl-item {
                                a.item-product {
                                    // .opacity {
                                    //     h3 {
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                    .owl-nav {
                        margin-top: 0;
                        right: -30px;
                        top: calc(~'('100% ~'-' 20px~')' ~'/' 2);
                        button {
                            width: 60px;
                            height: 60px;
                            &:nth-of-type(1) {
                                // margin-bottom: 20px;
                            }
                            &:focus {
                            }
                            img {
                                width: 15px;
                            }
                        }
                    }
                }
                // .tittle-product {
                //     h3 {
                //     }
                // }
            }
        }
    }
}

@media all and(min-width: 1200px) {
    .srp-section.section-home-products, .block-related {
        padding-top: 100px;
        .fondo {
            width: 40%;
        }
        .section-home-products--content {
            .box-text {
                // padding: 30px 0 30px 50px;
                margin-left: 100px;
                max-width: calc(100% ~'-' 160px);
                margin-bottom: 40px;
                // &::after {
                //     width: 50px;
                // }
                // &::before {
                //     width: 50px;
                // }                
            }
            .text-secondary {
                padding-left: 100px;
                h3 {
                }
            }
            .carousel-home-products--content {
                padding-right: 150px;
                .box-dots {
                    right: calc(150px ~'+' 100px);
                    width: 496px;
                    height: 96px;
                }
                .carousel-home-products, .carousel-single-products {
                    height: calc(~'('100vw ~'-' 150px~')' ~'/' 3);
                    .owl-stage-outer {
                        .owl-stage {
                            .owl-item {
                                a.item-product {
                                    &:hover {
                                        .opacity {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                    .opacity {
                                        transition: .3s ease;
                                        opacity: 0;
                                        visibility: hidden;
                                        position: absolute;
                                        top: 0;
                                        left: 25px;
                                        padding: 0;
                                        height: 100%;
                                        width: 50px;
                                        margin: 0;
                                        h3 {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            right: auto;
                                            transform: translate(-50%, -50%) rotate(-90deg);
                                            width: 300px;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .owl-nav {
                        right: -55px;
                        button {
                            width: 90px;
                            height: 90px;
                            transition: .3s ease;
                            &.active {
                                opacity: .5;
                            }
                            &:nth-of-type(1) {
                                margin-bottom: 20px;
                            }
                            &:focus {
                            }
                            img {
                                width: 20px;
                            }
                        }
                    }
                }
                // .tittle-product {
                //     h3 {
                //     }
                // }
            }
        }
    }
    .cuatro-bloques--content {
        margin-bottom: 80px;
        .item-bloque-contacto {
            flex-basis: calc(~'24% - 40px');
            margin-bottom: 0;
            &:last-child {
                margin-bottom: 0;
            }
            img {
            }
            h3 {
            }
            p {
            }
        }
    }
}


@media all and(min-width: 1330px) {
    .srp-section.section-home-products, .block-related {
        .fondo {
        }
        .section-home-products--content {
            .box-text {
                margin-left: calc(~'('100vw ~'-' 1250px~')' ~'/' 2);
                &::after {
                }
                &::before {
                }                
            }
            .text-secondary {
                padding-left: calc(~'('100vw ~'-' 1250px~')' ~'/' 2);
                h3 {
                }
            }
            .carousel-home-products--content {
                padding-right: 5%;
                .box-dots {
                }
                .carousel-home-products, .carousel-single-products {
                    height: calc(~'(' 100vw ~'-' ~'(' ~'('~'('100vw ~'-' 1250px ~')' ~'/' 2 ~')' ~'+' 5vw ~')' ~')' ~'/' 3);
                    // height: calc(~'('100vw ~'-' ~'(' 5% ~')' ~')' ~'/' 3);
                    .owl-stage-outer {
                        .owl-stage {
                            .owl-item {
                                a.item-product {
                                    &:hover {
                                        .opacity {
                                        }
                                    }
                                    .opacity {
                                        h3 {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .owl-nav {
                        right: -45px;
                        button {
                            &:nth-of-type(1) {
                            }
                            &:focus {
                            }
                            img {
                            }
                        }
                    }
                }
                // .tittle-product {
                //     h3 {
                //     }
                // }
            }
        }
    }
    .cuatro-bloques--content {
        padding: 0;
        .item-bloque-contacto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 40px;
            flex-basis: calc(~'290px - 80px');
            height: 290px;
            &:last-child {
            }
            img {
            }
            h3 {
            }
            p {
            }
        }
    }
}