// ·············································································· //
// ························        Header styles        ························· //
// ·············································································· //


header.header {
    nav.nav-ppal {
        padding-right: 130px;
        .titles {
            height: 100%;
            &.active {
                margin-right: 250px;
            }
            ul.menu {
                height: 100%;
                li {
                    height: 100%;
                    &:nth-last-of-type(1) {
                        a {
                            margin-right: 0;
                        }
                    }
                    a {
                        height: 100%;
                        transition: .3s ease;
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }
        .icon {
            ul.menu {
                li {
                    a {
                        img {
                        }
                        span {
                        }
                    }
                }
            }
        }
    }
    nav.nav-second {
        &.active {
        }
        ul.menu {
            &.active {
            }
            li {
                margin: 0;
                padding-bottom: 30px;
                &:nth-last-of-type(1) {
                    padding-bottom: 0;
                }
                &:hover {
                    a {
                        span {
                            &::after {
                                width: calc(~'100% + 30px');
                            }
                        }
                    }
                }
                a {
                    span {
                        position: relative;
                        font-size: 70px;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 35px;
                            background-color: @secondary-color-md;
                            border-radius: 20px;
                            left: 50%;
                            transform: translateX(-50%);
                            transition: .6s ease;
                            bottom: 0;
                            z-index: -1;
                        }
                    }
                    img {
                    }
                }
            }
        }
        .social-media {
            bottom: 40px;
            &.active {
            }
            a {
                &:nth-last-of-type(1) {
                }
            }
        }

        .imagen-hover {
            position: absolute;
            z-index: -10;
            display: block;
            right: 72px;
            top: 50%;
            transform: translateY(-50%);
            height: calc(~'100vh - 140px');
            width: 30vw;
            max-height: 800px;
            max-width: 600px;
            // opacity: 0;
            // visibility: hidden;
            // transition: .6s ease;
            & > div {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
                width: 100%;
                transition: .3s ease;
                opacity: 0;
                visibility: hidden;
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.active {
                opacity: 1;
                visibility: visible;
            }
            &.hover {
                &::after {
                    background-color: rgba(255, 255, 255, 0.7);
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: .3s ease;
            }
        }

        .box-dots {
            display: block; 
            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
            width: 64px;
            height: 320px;
            background-image: url(../img/dot.svg);
            background-repeat: repeat;
            background-position: unset;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease;
            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .nav-search {
        width: 240px;
        right: 240px;
        &.active {
        } 
        input {
            &::placeholder {
            }
            &:focus {
            }
        }
        .autocomplete-items {
            a {
                transition: .3s ease;
                &:hover {
                    background-color: @primary-color-lg;
                }
                &:nth-last-of-type(1) {
                }
            }
        }
    }

    .nav-products {
        &.active {
        }
        .content--nav-products {
            display: flex;
            align-items: stretch;
            .menu-image-products {
                position: relative;
                display: block;
                flex-basis: 400px;
                .image-products {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s ease;
                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .menu--nav-products {
                flex-basis: calc(~'100% - 400px');
                .list-category {
                    .image_response {
                    }
                    & > a {
                        margin-bottom: 20px;
                        h3 {
                        }
                    }
                    ul {
                        li {
                            margin-bottom: 10px;
                            a {
                                display: flex;
                                align-items: flex-start;
                                p {
                                    position: relative;
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        width: 0;
                                        height: 8px;
                                        background-color: @secondary-color-md;
                                        border-radius: 8px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        transition: .3s ease;
                                        bottom: 0;
                                        z-index: -1;
                                    }
                                }
                                &:hover {
                                    // display: none;
                                    p {
                                        &::after {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            &:nth-last-of-type(1) {
                            }
                        }
                    }
                }

                a.view-all {
                }
            }
        }
    }

    .nav-account {
        right: 70px;
    }

    .nav-image {
        width: 260px;
        padding-left: 40px;
        a.contain-image {
            width: 200px;
            img {
                &.mobile {
                    display: none;
                }
                &.desktop {
                    display: block;
                }
            }
        }
    }

    .nav-btn {
        width: 120px;
        a.btn-menu {
            
            &.first-move {
                span {
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(3) {
                    }
                }
            }
            &.second-move {
            }
            &.third-move {
                span {
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(2) {
                    }
                    &:nth-of-type(3) {
                    }
                }
            }
            span {
                &:nth-of-type(1) {
                }
                &:nth-of-type(2) {
                }
                &:nth-of-type(3) {
                }
            }
        }
    }
}


// ·············································································· //
// ························        Footer styles        ························· //
// ·············································································· //

footer.footer {
    position: relative;
    .footer-content {
        padding-bottom: 80px;
        .footer-menus {
            padding-left: 40px;
            padding-right: 20px;
            margin-right: 0;
            flex-basis: calc(100% ~"-" 470px);
            .row-top {
                margin-bottom: 15px;
                justify-content: space-between;
                .menu-container {
                    flex-basis: auto;
                    margin-bottom: 0;
                    margin-right: 0;
                    &:nth-last-of-type(1) {
                        margin-right: 0;
                    }
                    h2 {
                    }
                    ul.menu {
                        margin: 0;
                        li {
                            &:nth-last-of-type(1) {
                            }
                            a {
                            }
                        }
                    }
                }
            }
            .row-bottom {
                .social-media {
                    a {
                    }
                }
            }
        }
        .footer-newsletter {
            flex-basis: 350px;
            padding-right: 40px;
            padding-left: 20px;
            margin-bottom: 0;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -1px;
                width: 2px;
                height: 65px;
                // border-radius: 50%;
                background-color: @primary-color-md;
            }
            section.widget {
                .textwidget {
                    form {
                        .mc4wp-form-fields {
                            h2 {
                            }
                            .form-group {
                                input[type="text"], input[type="email"] {
                                }
                                button[type="submit"] {
                                }
                                span.name, span.mail {
                                    &.name {
                                    }
                                    &.mail {
                                    }
                                }
                            }
                            .form-group-news {
                                label {
                                    padding-left: 25px;
                                    .span {
                                        width: 16px;
                                        height: 16px;
                                        top: 6px;
                                        &.active {
                                            .circle {
                                            }
                                        }
                                        .circle {
                                            width: 6px;
                                            height: 6px;
                                        }
                                    }
                                    input {
                                        left: 6px;
                                        top: 6px;
                                    }
                                    a {
                                    }
                                }
                            }
                        }
                        .mc4wp-response {
                            p {
                            }
                        }
                    }
                }
            }
        }
        .footer-mosaico {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}


// ·············································································· //
// ························        Home styles        ··························· //
// ·············································································· //

.srp-mainrow.home {

    .srp-section.section-home-top {
        .fondo {
            width: 40%;
        }
        .section-home-top--content {
            padding: 85px 0 120px;
            .box-text {
                // padding: 30px 0 30px 50px;
                max-width: 600px;
                margin: 0 0 80px 145px;
                // &::after {
                //     width: 50px;
                // }
                // &::before {
                //     width: 50px;
                // } 
            }
            .content--product {
                .box-dots {
                    &:nth-of-type(1) {
                        width: 496px;
                        height: 96px;
                        top: -48px;
                    }
                    &:nth-of-type(2) {
                        width: 496px;
                        height: 96px;
                        bottom: -48px;
                    }
                }
                .content--product--img {
                    max-width: calc(100% ~'-' 145px);
                        .box-info {
                            &>p {
                            }
                            h3 {
                            }
                    }
                }
            }
        }
    }

    .srp-section.section-home-valors {
        padding: 0;
        .section-home-valors--content {
            max-width: 1095px;
            margin: 0 auto;
            .carousel-valors-home {
                &.carousel-valors-home-desktop {
                }
                &.carousel-valors-home-mobile {
                }

                .item-valors {
                    .circle-img {
                        .imagen {
                            img {
                            }
                        }
                    }
                    h2 {
                        max-width: 400px;
                        span {
                            &::after {
                            }
                        }
                    }
                }

                .owl-dots {
                    button {
                        &:focus {
                        }
                        span {
                        }
                        &.active {
                            span {
                            }
                        }
                    }
                }
            }
            a.btn-primary {
                p {
                    span {
                    }
                }
            }
        }
    }
    
}


// ·············································································· //
// ························        FAQS styles        ··························· //
// ·············································································· //

.srp-mainrow.faqs {

    .srp-section.section-faqs {
        .section-faqs--content {
            padding: 100px 0 120px;
            .box-text.box-text-yellow {
                margin-bottom: 40px;
            }
            .faqs-repeater {
                .frequence-faq {
                    padding: 40px 40px 20px;
                    .title {
                        h3 {
                            flex-basis: calc(100% ~'-' 40px);
                        }
                        .arrow {
                            flex-basis: 21px;
                            &.active {
                                img {
                                }
                            }
                            img {
                            }
                        }
                    }
                    .editor-wysiwyg {
                    }
                }
            }
        }
    }

}


// ·············································································· //
// ·······················        Politcs styles        ························· //
// ·············································································· //

.srp-mainrow.politicas {
    .srp-section.section-politicas {
        .section-politicas--content {
            padding: 100px 0 120px;
            .box-politicas {
                padding: 40px;
                h3 {
                }
            }
        }
    }
}



// ·············································································· //
// ·······················        General styles        ························· //
// ·············································································· //


.text-general-bloques {
    h2 {
    }
    p {
        &:nth-last-of-type(1) {
        }
    }
}

.srp-mainrow.general-bloques {

    .srp-section.bars-bloque {
        .bars-bloque--content {
            .bar--content-ppal {
                h3 {
                }
                .arrow {
                    &.active {
                    }
                }
            }
            .bar--content-sec {
                li {
                    a {
                        &.active {
                            h3 {
                            }
                        }
                        h3 {
                            font-size: 16px;
                        }
                        h4 {
                        }
                    }
                    &:nth-last-of-type(1) {
                    }
                }
            }
        }
    }
    
    .srp-section.general-bloque {

        .imagen-izq-texto--content {
            .imagen {
                flex-basis: 55%;
            }
            .info {
                flex-basis: calc(45% ~'-' 120px);
                padding: 0;
                padding-right: 80px;
                .box-text {
                    margin-bottom: 45px;
                    max-width: calc(100% ~'-' 60px);
                }
            }
        }

        .dos-imagenes-superpuestas {
            padding: 40px 80px 0;
            .imagenes {
                flex-basis: 55%;
                .box-dots {
                    display: block; 
                    position: absolute;
                    right: -32px;
                    top: -32px;
                    width: 64px;
                    height: 464px;
                    background-image: url(../img/dot.svg);
                    background-repeat: repeat;
                    background-position: unset;
                }
                .imagen_sup, .imagen_inf {
                }
                .imagen_sup {
                }
                .imagen_inf {
                }
            }
            .info {
                flex-basis: calc(45% ~'-' 40px);
                .box-text {
                    margin-bottom: 45px;
                    max-width: calc(100% ~'-' 60px);
                }
            }
        }

        .imagen-texto-color-fondo {
            padding: 0 40px;
            .imagen {
            }
            .info {
                padding: 50px 70px;
                flex-basis: calc(50% ~'-' 140px);
                .box-text {
                    width: calc(100% ~'-' 60px);
                    margin-bottom: 45px;
                    h1 {
                    }
                }
                .text-general-bloques {
                    h2, p {
                    }
                }
                a.btn-primary {
                    margin-top: 30px;
                }
            }
        }

        .galeria-imagenes-texto-fondo-parcial {
            .fondo {
                width: 40%;
            }
            .section-home-products--content {
                padding-left: 80px;
                .info {
                    .box-text {
                        margin-bottom: 45px;
                        &::after {
                        }
                        &::before {
                        }                
                    }
                    .text-secondary {
                        // margin-bottom: 40px;
                        h3 {
                        }
                    }
                }
                .carousel-home-products--content {
                    padding-left: 0;
                    .box-dots {
                    }
                    .carousel-home-products-block {
                    height: calc(~'('100vw ~'-' 80px~')' ~'/' 3);
                        .owl-stage-outer {
                            .owl-stage {
                                .owl-item {
                                    a.item-product {
                                        // .opacity {
                                        //     h3 {
                                        //     }
                                        // }
                                    }
                                }
                            }
                        }
                        .owl-nav {
                            left: -45px;
                            top: 50%;
                            transform: translateY(-50%);
                            button {
                                width: 90px;
                                height: 90px;
                                &:nth-of-type(1) {
                                    margin-bottom: 20px;
                                }
                                &:focus {
                                }
                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .titulo-iframe {
            padding: 0 80px;
            h1 {
                margin-bottom: 40px;
            }
            .iframe {
                iframe {
                }
            }
            .btn-primary {
                margin-top: 30px;
            }
        }

        .dos-imagenes-texto {
            margin-bottom: 80px;
            .imagenes {
                width: 55%;
                .box-dots {
                    width: 496px;
                    height: 96px;
                    top: calc(50% ~'-' 20px);
                }
                .imagen_sup, .imagen_inf {
                    &.imagen_sup {
                        margin-bottom: 60px;
                    }
                }
            }
            .info-content-sticky {
                margin-left: 5%;
                width: calc(40% ~'-' 80px);
                .info {
                    .box-text {
                        margin-bottom: 45px;
                        max-width: calc(100% ~'-' 60px);
                    }
                    a.btn-primary {
                    }
                }
            }
        }

        .pop-up--solicitud {
            max-width: 770px;
            &.active {
            }
            .response-mail {
                .content-response {
                    .response {
                        max-width: 330px;
                        img {
                            margin-bottom: 20px;
                        }
                        h2 {
                            margin-bottom: 20px;
                        }
                        p {
                        }
                    }
                    .info {
                        .info-div {
                            &:nth-last-of-type(1) {
                            }
                            img {
                                margin-bottom: 15px;
                            }
                            h5 {
                                margin-bottom: 5px;
                            }
                            p {
                            }
                        }
                    }
                }
            }
            .imagen {
                height: 280px;
                margin-bottom: 40px;
            }
            .title {
                padding: 0 65px 30px;
                .imagen-title {
                    width: 30px;
                    height: 30px;
                }
            }
            .form {
                padding: 0 65px;
                form {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .form-contact {
                        flex-basis: 48%;
                        &:nth-of-type(6) {
                            flex-basis: 100%;
                        }
                        span[role="alert"] {
                        }
                        br {
                        }
                        label {
                            & > p {
                            }
                            .image {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .acceptance {
                        flex-basis: 100%;
                        .check-container {
                            padding-left: 20px;
                            margin-bottom: 30px;
                            a {
                            }
                        }
                        .check-container input {
                        }
                        .check-container.active .checkmark:after {
                        }
                        .check-container .checkmark {
                            width: 16px;
                            height: 16px;
                            &::after {
                                width: 6px;
                                height: 6px;                                
                            }
                        }
                    }
                    .submit {
                        margin: 0 auto;
                        input[type="submit"] {
                        }
                    }
                    .wpcf7-response-output {
                        font-size: 16px;
                        flex-basis: 100%;
                        text-align: center;
                        padding: 10px;
                        .wpcf7-mail-sent-ok {
                        }
                    }
                }
            }
        }

        .imagen-vertical-texto {
            padding: 0 120px;
            margin-bottom: 80px;
            .imagen {
            }
            .info {
                .box-text {
                    margin-bottom: 45px;
                    max-width: calc(100% ~'-' 60px);
                }
                a.btn-primary {
                }
            }
        }

        .texto-gigante-con-imagen {
            padding: 160px 0 0;

            .texto-gigante {
                overflow: initial;
                max-width: initial;
                h1 {
                    font-size: 200px;
                }
            }
            .imagen {
                flex-basis: calc(100% ~'-' 450px);
            }
            .info {
                flex-basis: 400px;
            }
        }

        .formulario-contacto--content {
            margin-top: 120px;
            margin-bottom: 80px;
            padding: 96px 80px;
            .box-dots {
                height: 96px;
                top: -48px;
                width: 544px;
            }
            .form {
                form {
                    h3 {
                        margin-bottom: 45px;
                    }
                    .form-group {
                        margin-bottom: 15px;
                        width: 100%;
                        input[type="text"], input[type="email"], textarea {
                            &::placeholder {
                            }
                            &:focus {
                            }
                        }
                        textarea {
                            height: 170px;
                        }
                        span.name, span.mail, span.textarea {
                            &.name {
                            }
                            &.mail {
                            }
                            &.textarea {
                            }
                        }
                        br {
                        }
                        span[role="alert"] {
                        }
                    }
                    .acceptance {
                        margin-bottom: 30px;
                        .check-container {
                            padding-left: 20px;
                            a {
                            }
                        }
                        .check-container input {
                        }
                        .check-container.active .checkmark:after {
                        }
                        .check-container .checkmark {
                            width: 16px;
                            height: 16px;
                            &::after {
                                width: 6px;
                                height: 6px;                                
                            }
                        }
                    }
                    .submit {
                        input[type="submit"] {
                        }
                    }
                    .wpcf7-response-output {
                        .wpcf7-mail-sent-ok {
                        }
                    }
                }
            }
        }

        .galeria-cuadricula--content, .galeria-cuadricula-cuatro--content {
            padding: 0;
            .info {
                .box-text {
                    margin-bottom: 45px;
                    max-width: calc(100% ~'-' 60px);
                }
            }
            .carousel-cuadricula, .carousel-cuadricula_cuatro {
                width: 100%;
                padding: 0;
                margin: 0;
                &.desktop {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                }
                &.mobile {
                    display: none;
                }
                .item {
                    width: calc(~'(100% - 60px) / 3');
                    margin-right: 30px;
                    margin-bottom: 30px;
                    &:nth-of-type(3n) {
                        margin-right: 0;
                    }
                    .imagen {
                        height: calc(~'((100vw - (100vw - 1000px)) / 3) - 30px');
                        // height: calc(~'(100vw - 80px) / 3');
                    }
                    .text-general-bloques {
                        h3 {
                        }
                        p {
                        }
                    }
                }

                .owl-dots {
                    button {
                        &:focus {
                        }
                        span {
                        }
                        &.active {
                            span {
                            }
                        }
                    }
                }
            }

            .carousel-cuadricula_cuatro {
                .item {
                    width: calc(~'(100% - 90px) / 4');
                    margin-right: 30px;
                    margin-bottom: 30px;
                    &:nth-of-type(3n) {
                        margin-right: 30px;
                    }
                    &:nth-of-type(4n) {
                        margin-right: 0;
                    }
                    .imagen {
                        height: calc(~'((100vw - (100vw - 1000px)) / 4) - 45px');
                        // height: calc(~'(100vw - 80px) / 3');
                    }
                    .text-general-bloques {
                        h3 {
                        }
                        p {
                        }
                    }
                }
            }

            a.btn-primary {
                margin-top: 0;
            }
        }

        .galeria-cuadricula-cuatro--content {
            padding: 0 40px;
        }

        .carousel-productos-full-width {
            .owl-stage-outer {
                max-height: 600px;
                .owl-stage {
                    .owl-item {
                        .item-prod {
                            img {
                                &.desktop {
                                    display: block;
                                }
                                &.mobile {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .owl-nav {
                button {
                    width: 90px;
                    height: 90px;
                    &.owl-prev {
                        left: 30px;
                    }
                    &.owl-next {
                        right: 30px;
                    }
                    &:focus {
                    }
                    img {
                        width: 20px;
                    }
                }
            }
        }

        .testimonios--template {
            margin-bottom: 80px;
            .testimonios--content {
                padding: 0 80px;
                h1 {
                    margin-bottom: 40px;
                }
                .testimonios-carousel {
                    .item-testimonio {
                        img {
                        }
                        h4 {
                        }
                        h5 {
                        }
                    }

                    .owl-nav {
                        button {
                            width: 90px;
                            height: 90px;
                            &:nth-of-type(1) {
                                left: 0;
                            }
                            &:nth-of-type(2) {
                                right: 0;
                            }
                            &:focus {
                            }
                            img {
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

}


// ·············································································· //
// ·····················        Workshops styles        ························· //
// ·············································································· //

.srp-mainrow.workshops {

    .workshop--main {
        margin-bottom: 80px;
        .workshop--main--content {
            .item-workshops {
                .imagen {
                }
                .info {
                    flex-basis: calc(~'50% - 90px');
                    padding: 25px 45px;
                    h4 {
                    }
                    ul.especificaciones {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            img {
                            }
                        }
                    }
                    .texto {
                    }
                    .sin-plaza {
                        padding: 10px 20px;
                        p {
                        }
                    }
                }
            }
        }
    }

    .workshop--rest {
        .workshop--rest--content {
            .item-workshops {
                margin-bottom: 50px;
                .imagen {
                }
                .info {
                    flex-basis: calc(~'50% - 90px');
                    padding: 25px 45px;
                    h4 {
                    }
                    ul.especificaciones {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            img {
                            }
                        }
                    }
                    .texto {
                    }
                    .sin-plaza {
                        padding: 10px 20px;
                        p {
                        }
                    }
                }
            }
        }
    }

    .form--workshop {
        &.active {
        }
        .cancell {
            span {
                &:nth-of-type(1) {
                }
                &:nth-of-type(2) {
                }
            }
        }
        .response-mail {
            .content-response {
                .response {
                    max-width: 330px;
                    img {
                        margin-bottom: 20px;
                    }
                    h2 {
                        margin-bottom: 20px;
                    }
                    p {
                    }
                }
                .info {
                    .info-div {
                        &:nth-last-of-type(1) {
                        }
                        img {
                            margin-bottom: 15px;
                        }
                        h5 {
                            margin-bottom: 5px;
                        }
                        p {
                        }
                    }
                }
            }
        }
        .imagen {
        }
        .info-workshop {
            .title {
                img {
                }
            }
            .title-workshop {
                margin-top: 25px;
                h3 {
                }
            }
            ul.especificaciones {
                margin-top: 25px;
                li {
                    &:nth-last-of-type(1) {
                    }
                    img {
                    }
                }
            }
        }
        .form {
            form {
                .form-contact {
                    &:nth-of-type(2) {
                    }
                    &:nth-of-type(3) {
                        .image {
                        }
                    }
                    &:nth-of-type(4) {
                        .image {
                        }
                    }
                    &:nth-of-type(5) {
                        .image {
                        }
                    }
                    label {
                        & > p {
                        }
                        .image {
                        }
                    }
                    span[role="alert"] {
                    }
                    br {
                    }
                }
                .acceptance {
                    .check-container {
                        padding-left: 25px;
                        margin-bottom: 30px;
                        a {
                        }
                    }
                    .check-container input {
                    }
                    .check-container.active .checkmark:after {
                    }
                    .check-container .checkmark {
                        width: 16px;
                        height: 16px;
                        &::after {
                            width: 6px;
                            height: 6px;                                
                        }
                    }
                }
                .submit {
                    input[type="submit"] {
                    }
                }
                .wpcf7-response-output {
                    .wpcf7-mail-sent-ok {
                    }
                }
            }
        }
    }

}



// ·············································································· //
// ······················        Historia styles        ························· //
// ·············································································· //

.srp-mainrow.history {
    .srp-section.section-history {
        .section-history--content {
            .box-dots {
                width: 512px;
            }
            .carousel-history {
                .owl-stage-outer {
                    .owl-stage {
                        .owl-item {
                            &:not(.center) {
                                .item-history {
                                    .texto {
                                    }
                                }
                            }
                            .item-history {
                                padding: 0;
                                .imagen {
                                    height: calc(~'(100vw - 440px ) * 0.66');
                                    // height: 500px;
                                    .texto-gigante {
                                        h1 {
                                            font-size: 120px;
                                        }
                                    }
                                }
                                .texto {
                                    padding: 0 20px;
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    button {
                        position: absolute;
                        border: none;
                        border-radius: 0;
                        background-color: initial !important;
                        margin: 0;
                        &.disabled {
                            &.owl-prev {
                                cursor: url(../img/icons-history/arrow-history-left-op.svg), auto;
                            }
                            &.owl-next {
                                cursor: url(../img/icons-history/arrow-history-right-op.svg), auto;
                            }
                        }
                        &.owl-prev {
                            left: 0;
                            width: 50%;
                            height: 100%;
                            cursor: url(../img/icons-history/arrow-history-left.svg), auto;
                        }
                        &.owl-next {
                            right: 0;
                            width: 50%;
                            height: 100%;
                            cursor: url(../img/icons-history/arrow-history-right.svg), auto;
                        }
                        &:nth-of-type(1) {
                        }
                        &:focus {
                        }
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


// ·············································································· //
// ························        WOOCOMMERCE        ··························· //
// ·············································································· //



#primary.content-area {
    min-height: calc(~'100vh - 70px');


    // ·············································································· //
    // ······················        SINGLE PRODUCT        ·························· //
    // ·············································································· //

    .product.type-product {
        .single-product--main {
            padding-top: 90px;
            padding-bottom: 60px;
            margin-bottom: 80px;
            .fondo-prod {
                height: 100%;
                width: calc(~'50% - (390px / 2)');
            }
            .single-product-main--content {
                justify-content: center;
                align-items: flex-start;
                padding: 0 80px;
                &::after {
                    display: none;
                }
                &::after{
                }
                .box-dots {
                    display: block;
                    z-index: 10;
                    height: 288px;
                    top: 16px;
                    left: calc(~'((100vw - 750px) / 2) - 32px');
                    // height: calc(~'100vw - 630px - 160px');
                    // top: 80px;
                    // left: 50px;
                    width: 64px;
                }
                .texto-gigante {
                    top: -110px;
                    h1 {
                        font-size: 150px;
                    }
                }
                .images {
                    margin-right: 25px;
                    width: 350px;
                    // width: calc(~'100% - 470px');
                    .woocommerce-product-gallery__image {
                        a.woocommerce-main-image {
                            img {
                                height: 350px;
                                // height: calc(~'100vw - 630px');
                            }
                        }
                    }
                    .thumbnails {
                        ul {
                            button {
                                &.slick-disabled {
                                }
                            }
                            button.slick-prev {
                                &::before {
                                }
                            }
                            button.slick-next {
                                &::before {
                                }
                            }
                            .slick-list {
                                li {
                                }
                            }
                        }
                    }
                }

                .summary.entry-summary {
                    padding: 0;
                    margin-left: 25px;
                    width: 350px;
                    // width: 420px;
                    h2 {
                        margin-bottom: 20px;
                    }
                    .price {
                        margin-bottom: 20px;
                        span {
                        }
                    }
                    .woocommerce-product-details__short-description {
                        margin-bottom: 20px;
                    }
                    form.variations_form.cart {
                        table {
                            tbody {
                                tr {
                                    td {
                                        label {
                                        }
                                        &.value {
                                            .select2-hidden-accessible {
                                            }
                                            .select2 .select2-selection {
                                                &:focus {
                                                }
                                                .select2-selection__arrow {
                                                    b {
                                                    }
                                                }
                                                .select2-selection__rendered {
                                                }
                                                .select2-selection__arrow {
                                                }
                                            }
                                            input, .select2 {
                                                &::placeholder {
                                                }
                                                &:focus {
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .single_variation_wrap {
                            .woocommerce-variation.single_variation {
                            }
                            .woocommerce-variation-price {
                                .price {
                                    span {
                                    }
                                }
                            }
                            .product_meta {
                                & > div {
                                    a {
                                        &:focus {
                                        }
                                        &:hover {
                                        }
                                    }
                                }
                                .sku_wrapper, .posted_in {
                                }
                            }
                        }

                        a.reset_variations {
                            img {
                            }
                            p {
                                @media all and(min-width: 1200px) {
                                }
                            }
                        }
                    }
                }
            }
        }
        .single-product--block {

            .block-caracteristicas {
                margin-bottom: 80px;
                h5 {
                }
                .block-caracteristicas--content {
                    .caracter {
                        &:nth-last-of-type(1) {
                        }
                        p {
                            
                        }
                    }
                }
            }

            .block-banner {
                .imagen-texto-color-fondo {
                    width: calc(~'100% - 80px');
                    padding: 0 40px;
                    .imagen {
                    }
                    .info {
                        padding: 50px 70px;
                        flex-basis: calc(50% ~'-' 140px);
                        .box-text {
                            width: calc(100% ~'-' 60px);
                            margin-bottom: 45px;
                            h1 {
                            }
                        }
                        .text-general-bloques {
                            h2, p {
                            }
                        }
                        a.btn-primary {
                            margin-top: 30px;
                        }
                    }
                }
            }

            .block-related {

            }
        }
    }

    // .product.type-product {
    //     .single-product--main {
    //         padding-top: 160px;
    //         padding-bottom: 60px;
    //         margin-bottom: 80px;
    //         .fondo-prod {
    //             height: 100%;
    //             width: calc(~'50% - (390px / 2)');
    //         }
    //         .single-product-main--content {
    //             padding: 0 80px;
    //             &::after {
    //                 display: none;
    //             }
    //             &::after{
    //             }
    //             .box-dots {
    //                 display: block;
    //                 z-index: 10;
    //                 height: calc(~'100vw - 630px - 160px');
    //                 width: 64px;
    //                 left: 50px;
    //                 top: 80px;
    //             }
    //             .texto-gigante {
    //                 top: -130px;
    //                 h1 {
    //                     font-size: 200px;
    //                 }
    //             }
    //             .images {
    //                 width: calc(~'100% - 470px');
    //                 .woocommerce-product-gallery__image {
    //                     a.woocommerce-main-image {
    //                         img {
    //                             height: calc(~'100vw - 630px');
    //                         }
    //                     }
    //                 }
    //                 .thumbnails {
    //                     ul {
    //                         button {
    //                             &.slick-disabled {
    //                             }
    //                         }
    //                         button.slick-prev {
    //                             &::before {
    //                             }
    //                         }
    //                         button.slick-next {
    //                             &::before {
    //                             }
    //                         }
    //                         .slick-list {
    //                             li {
    //                             }
    //                         }
    //                     }
    //                 }
    //             }

    //             .summary.entry-summary {
    //                 padding: 0;
    //                 width: 420px;
    //                 h2 {
    //                     margin-bottom: 20px;
    //                 }
    //                 .price {
    //                     margin-bottom: 20px;
    //                     span {
    //                     }
    //                 }
    //                 .woocommerce-product-details__short-description {
    //                     margin-bottom: 20px;
    //                 }
    //                 form.variations_form.cart {
    //                     table {
    //                         tbody {
    //                             tr {
    //                                 td {
    //                                     label {
    //                                     }
    //                                     &.value {
    //                                         .select2-hidden-accessible {
    //                                         }
    //                                         .select2 .select2-selection {
    //                                             &:focus {
    //                                             }
    //                                             .select2-selection__arrow {
    //                                                 b {
    //                                                 }
    //                                             }
    //                                             .select2-selection__rendered {
    //                                             }
    //                                             .select2-selection__arrow {
    //                                             }
    //                                         }
    //                                         input, .select2 {
    //                                             &::placeholder {
    //                                             }
    //                                             &:focus {
    //                                             }
    //                                         }
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                     .single_variation_wrap {
    //                         .woocommerce-variation.single_variation {
    //                         }
    //                         .woocommerce-variation-price {
    //                             .price {
    //                                 span {
    //                                 }
    //                             }
    //                         }
    //                         .product_meta {
    //                             & > div {
    //                                 a {
    //                                     &:focus {
    //                                     }
    //                                     &:hover {
    //                                     }
    //                                 }
    //                             }
    //                             .sku_wrapper, .posted_in {
    //                             }
    //                         }
    //                     }

    //                     a.reset_variations {
    //                         img {
    //                         }
    //                         p {
    //                             @media all and(min-width: 1200px) {
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    //     .single-product--block {

    //         .block-caracteristicas {
    //             margin-bottom: 80px;
    //             h5 {
    //             }
    //             .block-caracteristicas--content {
    //                 .caracter {
    //                     &:nth-last-of-type(1) {
    //                     }
    //                     p {
                            
    //                     }
    //                 }
    //             }
    //         }

    //         .block-banner {
    //             .imagen-texto-color-fondo {
    //                 width: calc(~'100% - 80px');
    //                 padding: 0 40px;
    //                 .imagen {
    //                 }
    //                 .info {
    //                     padding: 50px 70px;
    //                     flex-basis: calc(50% ~'-' 140px);
    //                     .box-text {
    //                         width: calc(100% ~'-' 60px);
    //                         margin-bottom: 45px;
    //                         h1 {
    //                         }
    //                     }
    //                     .text-general-bloques {
    //                         h2, p {
    //                         }
    //                     }
    //                     a.btn-primary {
    //                         margin-top: 30px;
    //                     }
    //                 }
    //             }
    //         }

    //         .block-related {

    //         }
    //     }
    // }


    // ·············································································· //
    // ··························        CATEGORIAS        ·························· //
    // ·············································································· //

    .archive-page-product {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        // flex-wrap: wrap;
        display: block;
        position: relative;
        padding-top: 190px;

        .woocommerce-info {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
        }
    
        .sidebar-general {
            // position: absolute;
            // top: 70px;
            margin: 0;
            width: 220px;
            border: none;
            padding: 0;
            .main-sidebar-general {
                display: none;
                p {
                }
                .arrow {
                    &.active {
                        img {
                        }
                    }
                    img {
                    }
                }
            }
            .sidebar--nav-products {
                padding: 0;
                display: block;
                .list-category {
                    &:nth-of-type(1) {
                        .row-sidebar {
                            padding-top: 0;
                        }
                    }
                    .row-sidebar {
                        padding-top: 10px;
                        border-bottom: 1px solid @secondary-color-md;
                        a {
                            p {
                            }
                        }
                        .arrow {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &.active {
                                img {
                                    transform: rotate(180deg);
                                }
                                &::after {
                                }
                                &::before {
                                }
                            }
                            img {
                                transition: .3s ease;
                                display: block;
                            }
                            &::after {
                                display: none;
                            }
                            &::before {
                                display: none;
                            }
                        }
                    }
                    ul.list-category--second {
                        padding-top: 20px;
                        li {
                            &:nth-last-of-type(1) {
                                a {
                                }
                            }
                            a {
                                &:hover {
                                    p {
                                        &::after {
                                            width: 100%;
                                        }
                                    }
                                }
                                p {
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        width: 0;
                                        height: 8px;
                                        background-color: @secondary-color-md;
                                        border-radius: 8px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        transition: .3s ease;
                                        bottom: 0;
                                        z-index: -1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .results--orderby {
            position: absolute;
            margin-top: 0px;
            margin-bottom: 0;
            top: 110px;
            right: 0;
            // margin-left: auto;
            width: calc(~'100% - 260px');
            .woocommerce-result-count {
            }

            .woocommerce-ordering {
                .select2 .select2-selection {
                    &:focus {
                    }
                    .select2-selection__arrow {
                        b {
                        }
                    }
                    .select2-selection__rendered {
                    }
                    .select2-selection__arrow {
                    }
                }
                input, .select2 {
                    &::placeholder {
                    }
                    &:focus {
                    }
                }
            }
        }

        .products {
            margin-left: auto;
            width: calc(~'100% - 260px');
            // margin: 0 auto 40px;
            // max-width: 990pxr;
            .texto-gigante {
                left: -50px;
                transform: translateX(0);
                top: -120px;
                h1 {
                    font-size: 150px;
                    line-height: 140px;
                }
            }

            li.product {
                &:nth-of-type(2n) {
                }
                &:nth-of-type(3n) {
                }
                a {
                    img {
                        height: calc(~'(100vw - 360px) / 3 ') !important;
                    }
                    h3 {
                    }
                    .price {
                    }
                }
            }
        }

        .woocommerce-pagination {
            width: calc(~'100% - 260px');
            margin-left: auto;
            ul {
                li {
                    span {
                    }
                    a {
                    }
                    span, a {
                        &.next {
                        }
                    }
                }
            }
        }

    }

}