// ·············································································· //
// ························        Header styles        ························· //
// ·············································································· //


header.header {
    nav.nav-ppal {
        padding-right: calc(~'((100vw - 1250px) / 2) + 90px');
        .titles {
            &.active {
                margin-right: 280px;
            }
            ul.menu {
                li {
                    a {
                        margin-right: 50px;
                        &:hover {
                        }
                    }
                }
            }
        }
    }
    .nav-products {
        .content--nav-products {
            .menu--nav-products {
                padding: 45px 70px;
                a.view-all {
                    right: 70px;
                    bottom: 45px;
                }
            }
        }
    }
    .nav-btn {
        width: 40px;
        right: calc(~'(100vw - 1250px) / 2');
    }
    .nav-image {
        padding-left: 0;
        left: calc(~'(100vw - 1250px) / 2');        
    }
    nav.nav-second {
        &.active {
        }
        ul.menu {
            &.active {
            }
            li {
                &:nth-last-of-type(1) {
                }
                a {
                    &:hover {
                        span {
                            &::after {
                            }
                        }
                    }
                    span {
                        font-size: 80px;
                        &::after {
                            height: 40px;
                        }
                    }
                    img {
                    }
                }
            }
        }
        .social-media {
            &.active {
            }
            a {
                &:nth-last-of-type(1) {
                }
            }
        }
        .box-dots {
            right: calc(~'(100vw - 1250px) / 2');
            width: 96px;
            height: 480px;
        }
        .imagen-hover {
            height: calc(~'100vh - 200px');
            right: calc(~'((100vw - 1250px) / 2) + 48px');            
        }
    }

    .nav-search {
        right: calc(~'(((100vw - 1250px) / 2) + 90px) + 115px');
        width: 250px;
    }

    .nav-account {
        right: calc(~'((100vw - 1250px) / 2) + 30px');
    }

    .nav-image {
        a.contain-image {
            width: 320px;
            img {
                &.mobile {
                }
                &.desktop {
                }
            }
        }
    }
}


// ·············································································· //
// ························        Footer styles        ························· //
// ·············································································· //

footer.footer {
    // position: relative;
    .footer-content {
        // padding-bottom: 80px;
        .footer-menus {
            padding-right: 50px;
            padding-left: 0;
            flex-basis: calc(100% ~"-" 450px);
            .row-top {
                .menu-container {
                    &:nth-last-of-type(1) {
                    }
                    h2 {
                    }
                    ul.menu {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            a {
                            }
                        }
                    }
                }
            }
            .row-bottom {
                .social-media {
                    a {
                    }
                }
            }
        }
        .footer-newsletter {
            padding-left: 50px;
            padding-right: 0;
            &::after {
            }
            section.widget {
                .textwidget {
                    form {
                        .mc4wp-form-fields {
                            h2 {
                            }
                            .form-group {
                                input[type="text"], input[type="email"] {
                                }
                                button[type="submit"] {
                                }
                                span.name, span.mail {
                                    &.name {
                                    }
                                    &.mail {
                                    }
                                }
                            }
                            .form-group-news {
                                label {
                                    .span {
                                        &.active {
                                            .circle {
                                            }
                                        }
                                        .circle {
                                        }
                                    }
                                    input {
                                    }
                                    a {
                                    }
                                }
                            }
                        }
                        .mc4wp-response {
                            p {
                            }
                        }
                    }
                }
            }
        }
        .footer-mosaico {
            // position: absolute;
            // left: 0;
            // right: 0;
            // bottom: 0;
        }
    }
}


// ·············································································· //
// ························        Home styles        ··························· //
// ·············································································· //

.srp-mainrow.home {

    .srp-section.section-home-top {
        .fondo {
        }
        .section-home-top--content {
            .box-text {
                margin-left: 50px;
                &::after {
                }
                &::before {
                } 
            }
            .content--product {
                .box-dots {
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(2) {
                    }
                }
                .content--product--img {
                    max-width: calc(100% ~'-' 50px);
                        .box-info {
                            padding: 50px 30px;
                            &>p {
                            }
                            h3 {
                            }
                    }
                }
            }
        }
    }

    .srp-section.section-home-valors {
        .section-home-valors--content {
            .carousel-valors-home {
                &.carousel-valors-home-desktop {
                }
                &.carousel-valors-home-mobile {
                }

                .item-valors {
                    .circle-img {
                        .imagen {
                            img {
                            }
                        }
                    }
                    h2 {
                        span {
                            &::after {
                            }
                        }
                    }
                }

                .owl-dots {
                    button {
                        &:focus {
                        }
                        span {
                        }
                        &.active {
                            span {
                            }
                        }
                    }
                }
            }
            a.btn-primary {
                p {
                    span {
                    }
                }
            }
        }
    }
    
}


// ·············································································· //
// ·······················        General styles        ························· //
// ·············································································· //


.text-general-bloques {
    h2 {
        margin-bottom: 25px;
    }
    p {
        &:nth-last-of-type(1) {
        }
    }
}

.srp-mainrow.general-bloques {
    
    .srp-section.general-bloque {

        .imagen-izq-texto--content {
            .imagen {
                flex-basis: 55%;
                height: 570px;
            }
            .info {
                flex-basis: calc(45% ~'-' 80px);
                padding: 0;
                .box-text {
                }
            }
        }

        .dos-imagenes-superpuestas {
            padding: 0;
            padding-right: 32px;
            .imagenes {
                flex-basis: 55%;
                .box-dots {
                    height: 512px;
                }
                .imagen_sup, .imagen_inf {
                }
                .imagen_sup {
                    height: 460px;
                }
                .imagen_inf {
                    min-height: initial;
                    width: 400px;
                }
            }
            .info {
                margin-top: 45px;
                flex-basis: calc(45% ~'-' 80px);
                .box-text {
                }
            }
        }

        .imagen-texto-color-fondo {
            padding: 0;
            .imagen {
            }
            .info {
                padding: 100px 130px;
                .box-text {
                    h1 {
                    }
                }
                .text-general-bloques {
                    h2, p {
                    }
                }
                a.btn-primary {
                }
            }
        }

        .galeria-imagenes-texto-fondo-parcial {
            .fondo {
            }
            .section-home-products--content {
                padding: 0;
                .info {
                    .box-text {
                        &::after {
                        }
                        &::before {
                        }                
                    }
                    .text-secondary {
                        // margin-bottom: 60px;
                        h3 {
                        }
                    }
                }
                .carousel-home-products--content {
                    .box-dots {
                    }
                    .carousel-home-products-block {
                        height: calc(~'('100vw ~'-' ~'(' ~'(' 100vw ~'-' 1250px ~')' ~'/' 2 ~')' ~')' ~'/' 3);
                        .owl-stage-outer {
                            .owl-stage {
                                .owl-item {
                                    a.item-product {
                                        // .opacity {
                                        //     h3 {
                                        //     }
                                        // }
                                    }
                                }
                            }
                        }
                        .owl-nav {
                            button {
                                &:nth-of-type(1) {
                                }
                                &:focus {
                                }
                                img {
                                }
                            }
                        }
                    }
                }
            }
        }

        .titulo-iframe {
            padding: 0;
            h1 {
            }
            .iframe {
                iframe {
                    height: 620px !important;
                }
            }
            .btn-primary {
            }
        }

        .dos-imagenes-texto {
            .imagenes {
                .box-dots {
                }
                .imagen_sup, .imagen_inf {
                    height: 580px;
                    &.imagen_sup {
                    }
                }
            }
            .info-content-sticky {
                margin-left: 75px;
                width: calc(45% ~'-' 80px);
                .info {
                    .box-text {
                    }
                    a.btn-primary {
                    }
                }
            }
        }

        .imagen-vertical-texto {
            padding: 0 40px;
            .imagen {
                height: 830px;
            }
            .info {
                margin-top: 45px;
                flex-basis: calc(50% ~'-' 80px);
                .box-text {
                }
                a.btn-primary {
                }
            }
        }

        .carousel-productos-full-width {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .item-prod {
                            img {
                                &.desktop {
                                }
                                &.mobile {
                                }
                            }
                        }
                    }
                }
            }
            .owl-nav {
                button {
                    &.owl-prev {
                        right: calc(~'(100vw - 1280) / 2');
                    }
                    &.owl-next {
                        left: calc(~'(100vw - 1280) / 2');
                    }
                    &:focus {
                    }
                    img {
                    }
                }
            }
        }

        .testimonios--template {
            .testimonios--content {
                position: relative;
                padding: 0;
                h1 {
                }
                .testimonios-carousel {
                    position: initial;
                    max-width: 850px;
                    margin: 0 auto;
                    .owl-stage-outer {
                    }

                    .owl-nav {
                        button {
                            &:nth-of-type(1) {
                                left: 0;
                            }
                            &:nth-of-type(2) {
                                right: 0;
                            }
                            &:focus {
                            }
                            img {
                            }
                        }
                    }
                }
            }
        }
    }

}




// ·············································································· //
// ························        WOOCOMMERCE        ··························· //
// ·············································································· //

.woocommerce-account {
    .woocommerce-MyAccount-navigation {
    }
}


#primary.content-area {

    // ·············································································· //
    // ······················        SINGLE PRODUCT        ·························· //
    // ·············································································· //

    // .product.type-product {
    //     .single-product--main {
    //         .fondo {
    //         }
    //         .single-product-main--content {
    //             padding: 0;
    //             &::after {
    //             }
    //             &::after{
    //             }
    //             .texto-gigante {
    //                 h1 {
    //                 }
    //             }
    //             .box-dots {
    //                 width: 96px;
    //                 left: -48px;
    //                 height: calc(~'((100vw - (100vw - 1250px)) - 490px) - 160px');
    //             }
    //             .images {
    //                 .woocommerce-product-gallery__image {
    //                     a.woocommerce-main-image {
    //                         img {
    //                             height: calc(~'(100vw - (100vw - 1250px)) - 490px');
    //                         }
    //                     }
    //                 }
    //                 .thumbnails {
    //                     ul {
    //                         button {
    //                             &.slick-disabled {
    //                             }
    //                         }
    //                         button.slick-prev {
    //                             &::before {
    //                             }
    //                         }
    //                         button.slick-next {
    //                             &::before {
    //                             }
    //                         }
    //                         .slick-list {
    //                             li {
    //                             }
    //                         }
    //                     }
    //                 }
    //             }

    //             .summary.entry-summary {
    //                 h2 {
    //                 }
    //                 .price {
    //                     span {
    //                     }
    //                 }
    //                 .woocommerce-product-details__short-description {
    //                 }
    //                 form.variations_form.cart {
    //                     table {
    //                         tbody {
    //                             tr {
    //                                 td {
    //                                     label {
    //                                     }
    //                                     &.value {
    //                                         .select2-hidden-accessible {
    //                                         }
    //                                         .select2 .select2-selection {
    //                                             &:focus {
    //                                             }
    //                                             .select2-selection__arrow {
    //                                                 b {
    //                                                 }
    //                                             }
    //                                             .select2-selection__rendered {
    //                                             }
    //                                             .select2-selection__arrow {
    //                                             }
    //                                         }
    //                                         input, .select2 {
    //                                             &::placeholder {
    //                                             }
    //                                             &:focus {
    //                                             }
    //                                         }
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                     .single_variation_wrap {
    //                         .woocommerce-variation.single_variation {
    //                         }
    //                         .woocommerce-variation-price {
    //                             .price {
    //                                 span {
    //                                 }
    //                             }
    //                         }
    //                         .product_meta {
    //                             & > div {
    //                                 a {
    //                                     &:focus {
    //                                     }
    //                                     &:hover {
    //                                     }
    //                                 }
    //                             }
    //                             .sku_wrapper, .posted_in {
    //                             }
    //                         }
    //                     }

    //                     a.reset_variations {
    //                         img {
    //                         }
    //                         p {
    //                             @media all and(min-width: 1200px) {
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    //     .single-product--block {

    //         .block-caracteristicas {
    //             h5 {
    //             }
    //             .block-caracteristicas--content {
    //                 .caracter {
    //                     &:nth-last-of-type(1) {
    //                     }
    //                     p {
                            
    //                     }
    //                 }
    //             }
    //         }

    //         .block-video {
    //             .block-video--content {
    //                 iframe {
    //                     height: 700px !important;
    //                 }
    //             }
    //         }

    //         .block-banner {
    //             .imagen-texto-color-fondo {
    //                 .imagen {
    //                 }
    //                 .info {
    //                     .box-text {
    //                         h1 {
    //                         }
    //                     }
    //                     .text-general-bloques {
    //                         h2, p {
    //                         }
    //                     }
    //                     a.btn-primary {
    //                     }
    //                 }
    //             }
    //         }

    //         .block-related {

    //         }
    //     }
    // }

    // ·············································································· //
    // ··························        CATEGORIAS        ·························· //
    // ·············································································· //

    .archive-page-product {
        margin: 0 auto;
        max-width: 1250px;
    
        .sidebar-general {
            .main-sidebar-general {
                p {
                }
                .arrow {
                    &.active {
                        img {
                        }
                    }
                    img {
                    }
                }
            }
            .sidebar--nav-products {
                .list-category {
                    .row-sidebar {
                        a {
                            p {
                            }
                        }
                        .arrow {
                            &.active {
                                img {
                                }
                                &::after {
                                }
                                &::before {
                                }
                            }
                            img {
                            }
                            &::after {
                            }
                            &::before {
                            }
                        }
                    }
                    ul.list-category--second {
                        li {
                            &:nth-last-of-type(1) {
                                a {
                                }
                            }
                            a {
                            }
                        }
                    }
                }
            }
        }

        .results--orderby {
            top: 117px;
            // margin-top: 150px;
            .woocommerce-result-count {
            }

            .woocommerce-ordering {
                .select2 .select2-selection {
                    &:focus {
                    }
                    .select2-selection__arrow {
                        b {
                        }
                    }
                    .select2-selection__rendered {
                    }
                    .select2-selection__arrow {
                    }
                }
                input, .select2 {
                    &::placeholder {
                    }
                    &:focus {
                    }
                }
            }
        }

        .products {
            .texto-gigante {
                top: -140px;
                h1 {
                    font-size: 200px;
                    line-height: 150px;
                }
            }

            li.product {
                &:nth-of-type(2n) {
                }
                &:nth-of-type(3n) {
                }
                a {
                    img {
                        height: calc(~'((100vw - (100vw - 1250px)) - 360px) / 3') !important;
                    }
                    h3 {
                    }
                    .price {
                    }
                }
            }
        }

        .woocommerce-pagination {
            ul {
                li {
                    span {
                    }
                    a {
                    }
                    span, a {
                        &.next {
                        }
                    }
                }
            }
        }

    }

    // ·············································································· //
    // ······················        AREA DE COMPRA        ·························· //
    // ·············································································· //

    #main.site-main {
        .woocommerce-breadcrumb {
        }

        .woocommerce-notices-wrapper {
            .woocommerce-error {
                &::before, &::after {
                }
                li {
                    &:nth-last-of-type(1) {
                    }
                }
            }
            .woocommerce-message {
                &::after, &::before {
                }
                a {
                    &:focus {
                    }
                    &:hover {
                    }
                }
                @media all and(min-width: 1200px) {
                }
            }
        }
    }

    .content--form-buy {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        .woocommerce-cart-form {
            flex-basis: calc(~'100% - 490px - 50px');
            table.shop_table {
                thead {
                    display: block;
                    tr {
                        margin: 10px 0;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        th {
                            flex-basis: 15%;
                            padding: 0 10px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            color: @primary-color-md;
                            font-family: 'Montserrat';
                            &:nth-of-type(1), &:nth-of-type(2) {
                                display: none;
                            }
                            &:nth-of-type(3) {
                                flex-basis: 55%;
                                text-align: left;
                                padding-left: 0;
                            }
                        }
                    }
                }
                tbody {
                    tr:nth-last-of-type(1) {
                        td {
                            .coupon {
                            }
                            a {
                                p {
                                }
                            }
                            button {
                                &:focus {
                                }
                                img {
                                }
                                p {
                                }
                            }
                        }
                    }
                    tr.cart_item {
                        padding: 20px 10px;
                        border: none;
                        &:nth-of-type(1) {
                            border-top: 1px solid @secondary-color-md !important;
                        }
                        &:nth-last-of-type(2) {
                            border-bottom: 1px solid @secondary-color-md !important;
                        }
                        &:nth-of-type(2n) {
                            td {
                            }
                        }
                        td {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // &:last-of-type(1), &:last-of-type(2), &:last-of-type(3) {
                                flex-basis: 15%;
                                &:nth-of-type(2) {
                                    flex-basis: 120px;
                                }
                                &:nth-of-type(3) {
                                    flex-basis: calc(~'55% - 140px');
                                }
                            // }
                            &::before {
                                display: none;
                            }
                            #edit_from_cart {
                            }
                        }
                        td.product-remove {
                            right: 0;
                            a {
                            }
                        }
                        td.product-thumbnail {
                            &::before {
                            }
                            a {
                                img {
                                }
                            }
                        }
                        td.product-quantity {
                            .quantity {
                                .quantity-nav {
                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {
                                    }

                                    input[type=number] {
                                    }
                                    input[type="number"] {
                                        &:focus {
                                        }
                                    }
                                    .quantity-nav-fake {
                                        .quantity-button {
                                            &:nth-of-type(2) {
                                                img {
                                                }
                                            }
                                            img {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-collaterals {
            flex-basis: 490px;
            .cart_totals  {
                padding: 70px 45px;
                h3 {
                    // margin-bottom: 35px;
                }
                table.shop_table {
                    tbody {
                        tr {
                            &:nth-of-type(2n) {
                                td {
                                }
                            }
                            &.woocommerce-shipping-totals {
                                td {
                                    &::before {
                                        margin-bottom: 10px;
                                    }
                                    ul {
                                        li {
                                            margin-bottom: 10px;
                                            &:nth-last-of-type(1) {
                                                margin-bottom: 0;
                                            }
                                            label {
                                                @media all and(min-width: 1200px) {
                                                }
                                            }
                                            input {
                                            }
                                            & > span {
                                                &.active {
                                                    &::after {
                                                    }
                                                }
                                                &::after {
                                                }
                                            }
                                        }
                                    }
                                    p.woocommerce-shipping-destination {
                                    }
                                    form {
                                        
                                    }
                                }
                            }
                            td {
                                padding: 20px 35px;
                                &:nth-of-type(1) {
                                    &::before {
                                    }
                                }
                                &::before {
                                    @media all and(min-width: 1200px) {
                                    }
                                }
                                a, span {
                                    @media all and(min-width: 1200px) {
                                    }
                                }
                            }
                        }
                    }
                }
                .coupon-fake {
                    .form {
                        input {
                            &:focus {
                            }
                        }
                        a {
                            p {
                            }
                        }
                    }
                }
                .wc-proceed-to-checkout {
                    margin-top: 30px;
                    a {
                        p {
                        }
                        &:focus {
                        }
                        &:hover {
                        }
                    }
                }
            }
        }
    }


    // ·············································································· //
    // ······················        AREA DE USUARIO        ························· //
    // ·············································································· //

    .woocommerce {
        &.main-wrapper {
            padding: 100px 0 120px;
        }

        // ·············································································· //
        // ·························        THANK YOU PAGE        ······················· //
        // ·············································································· //

        .woocommerce-order {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            & > p {
                order: 1;
                flex-basis: 100%;
                @media all and(min-width: 1200px) {
                }
            }
            ul.woocommerce-order-overview {
                order: 3;
                flex-basis: calc(~'490px - 90px');
                padding: 60px 45px;
                &::after, &::before {
                }
                li {
                    @media all and(min-width: 1200px) {
                    }
                    &:nth-of-type(1) {
                    }
                    &:nth-last-of-type(1) {
                    }
                    strong {
                    }
                }

            }
            .woocommerce-order-details {
                order: 2;
                flex-basis: calc(~'100% - 540px');
                table.woocommerce-table {
                    thead {
                        tr {
                            th {
                            }
                        }
                    }
                    tbody {
                        tr {
                            td, th {
                                &.woocommerce-table__product-name {
                                    img {
                                        max-width: 130px;
                                    }
                                    .info-prod {
                                    }
                                }
                            }
                        }
                    }
                    tfoot {
                        tr {
                            td {
                            }
                            th {
                            }
                        }
                    }
                }
    
                .woocommerce-table--custom-fields {
                    tbody {
                        tr {
                            th, td {
                            }
                            th {
                            }
                            td {
                            }
                        }
                    }
                }
            }
            .woocommerce-customer-details {
                order: 4;
                address {
                    padding: 40px 80px;
                }
            }

        }

        .first-column {
        }

        .register-column, .woocommerce-MyAccount-content {

            .icp_projects_list {
                tbody {
                    tr {
                        &:not(:nth-child(1)) {
                            &:nth-last-of-type(1) {
                            }
                        }
                        th {
                            &:nth-of-type(1) {
                            }
                            p {
                            }
                        }
                        td {
                            &:nth-of-type(1) {
                            }
                            a {
                            }
                            p {
                            }
                        }
                    }
                }
            }

            .woocommerce-Addresses {
                &::before, &::after {
                }
                .woocommerce-Address {
                    &:nth-last-of-type(1) {
                    }
                    .woocommerce-Address-title {
                    }
                }
            }
        }

        address {
        }

        .title-flex {
            img {
            }
            h5 {
            }
        }

        form {
            p {
                &:nth-last-of-type(1) {
                }
                label {
                }
                input {
                    &::placeholder {
                    }
                    &:focus {
                    }
                }

                button {
                }
                
                button.btn-primary {
                    &:focus {
                    }
                    &:hover {
                    }
                }

                button.btn-secondary {
                    &:focus {
                    }
                    &:hover {
                    }
                }
            }
            fieldset {
                legend {
                }
            }
        }

        h3 {
        }

        h5 {
        }

        .login-column {
        }
    }

}


// ·············································································· //
// ·····················        Workshops styles        ························· //
// ·············································································· //

.srp-mainrow.workshops {

    .workshop--main {
        .workshop--main--content {
            .item-workshops {
                .imagen {
                }
                .info {
                    padding: 50px 90px;
                    flex-basis: calc(~'50% - 180px');
                    h4 {
                    }
                    ul.especificaciones {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            img {
                            }
                        }
                    }
                    .texto {
                    }
                }
            }
        }
    }

    .workshop--rest {
        .workshop--rest--content {
            padding: 0;
            .item-workshops {
                .imagen {
                }
                .info {
                    padding: 50px 90px;
                    flex-basis: calc(~'50% - 180px');
                    h4 {
                    }
                    ul.especificaciones {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            img {
                            }
                        }
                    }
                    .texto {
                    }
                }
            }
        }
    }

    .form--workshop {
        &.active {
        }
        .cancell {
            span {
                &:nth-of-type(1) {
                }
                &:nth-of-type(2) {
                }
            }
        }
        .imagen {
        }
        .info-workshop {
            padding: 50px;
            flex-basis: calc(~'50% - 100px');
            .title {
                img {
                }
            }
            .title-workshop {
                margin-top: 30px;
                h3 {
                }
            }
            ul.especificaciones {
                margin-top: 30px;
                li {
                    margin-bottom: 20px;
                    &:nth-last-of-type(1) {
                    }
                    img {
                    }
                }
            }
        }
        .form {
            form {
                .form-contact {
                    &:nth-of-type(2) {
                    }
                    &:nth-of-type(3) {
                        .image {
                        }
                    }
                    &:nth-of-type(4) {
                        .image {
                        }
                    }
                    &:nth-of-type(5) {
                        .image {
                        }
                    }
                    label {
                        & > p {
                        }
                        .image {
                        }
                    }
                    span[role="alert"] {
                    }
                    br {
                    }
                }
                .acceptance {
                    .check-container {
                        a {
                        }
                    }
                    .check-container input {
                    }
                    .check-container.active .checkmark:after {
                    }
                    .check-container .checkmark {
                        &::after {
                            
                        }
                    }
                }
                .submit {
                    input[type="submit"] {
                    }
                }
                .wpcf7-response-output {
                    .wpcf7-mail-sent-ok {
                    }
                }
            }
        }
    }

}




// ·············································································· //
// ······················        Historia styles        ························· //
// ·············································································· //

.srp-mainrow.history {
    .srp-section.section-history {
        .section-history--content {
            .box-dots {
            }
            .carousel-history {
                .owl-stage-outer {
                    .owl-stage {
                        .owl-item {
                            &:not(.center) {
                                .item-history {
                                    .texto {
                                    }
                                }
                            }
                            .item-history {
                                .imagen {
                                    height: calc(~'(100vw - 500px ) * 0.66');
                                    .texto-gigante {
                                        h1 {
                                        }
                                    }
                                }
                                .texto {
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    button {
                        &:nth-of-type(1) {
                        }
                        &:focus {
                        }
                        img {
                        }
                    }
                }
            }
        }
    }
}