#primary.content-area {

    // ·············································································· //
    // ······················        SINGLE PRODUCT        ·························· //
    // ·············································································· //

    .product.type-product {
        .single-product--main {
            padding-top: 160px;
            .fondo {
            }
            .single-product-main--content {
                padding: 0;
                justify-content: space-between;
                align-items: center;
                &::after {
                }
                &::after{
                }
                .texto-gigante {
                    h1 {
                    }
                }
                .box-dots {
                    width: 96px;
                    left: -48px;
                    height: calc(~'((100vw - (100vw - 1250px)) - 490px) - 160px');
                }
                .images {
                    width: calc(~'100% - 470px');
                    .woocommerce-product-gallery__image {
                        a.woocommerce-main-image {
                            img {
                                height: calc(~'(100vw - (100vw - 1250px)) - 490px');
                            }
                        }
                    }
                    .thumbnails {
                        ul {
                            button {
                                &.slick-disabled {
                                }
                            }
                            button.slick-prev {
                                &::before {
                                }
                            }
                            button.slick-next {
                                &::before {
                                }
                            }
                            .slick-list {
                                li {
                                }
                            }
                        }
                    }
                }

                .summary.entry-summary {
                    width: 420px;
                    h2 {
                    }
                    .price {
                        span {
                        }
                    }
                    .woocommerce-product-details__short-description {
                    }
                    form.variations_form.cart {
                        table {
                            tbody {
                                tr {
                                    td {
                                        label {
                                        }
                                        &.value {
                                            .select2-hidden-accessible {
                                            }
                                            .select2 .select2-selection {
                                                &:focus {
                                                }
                                                .select2-selection__arrow {
                                                    b {
                                                    }
                                                }
                                                .select2-selection__rendered {
                                                }
                                                .select2-selection__arrow {
                                                }
                                            }
                                            input, .select2 {
                                                &::placeholder {
                                                }
                                                &:focus {
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .single_variation_wrap {
                            .woocommerce-variation.single_variation {
                            }
                            .woocommerce-variation-price {
                                .price {
                                    span {
                                    }
                                }
                            }
                            .product_meta {
                                & > div {
                                    a {
                                        &:focus {
                                        }
                                        &:hover {
                                        }
                                    }
                                }
                                .sku_wrapper, .posted_in {
                                }
                            }
                        }

                        a.reset_variations {
                            img {
                            }
                            p {
                                @media all and(min-width: 1200px) {
                                }
                            }
                        }
                    }
                }
            }
        }
        .single-product--block {

            .block-caracteristicas {
                h5 {
                }
                .block-caracteristicas--content {
                    .caracter {
                        &:nth-last-of-type(1) {
                        }
                        p {
                            
                        }
                    }
                }
            }

            .block-video {
                .block-video--content {
                    iframe {
                        height: 700px !important;
                    }
                }
            }

            .block-banner {
                .imagen-texto-color-fondo {
                    .imagen {
                    }
                    .info {
                        .box-text {
                            h1 {
                            }
                        }
                        .text-general-bloques {
                            h2, p {
                            }
                        }
                        a.btn-primary {
                        }
                    }
                }
            }

            .block-related {

            }
        }
    }

}