// ·············································································· //
// ························        Header styles        ························· //
// ·············································································· //


header.header {
    &.hide {
        top: -100px;
    }
    nav.nav-ppal {
        height: 100px;
        .titles {
            ul.menu {
                li {
                    a {
                        &:hover {
                        }
                    }
                }
            }
        }
        .icon {
            ul.menu {
                li {
                    a {
                        img {
                        }
                        span {
                        }
                    }
                }
            }
        }
    }

    .nav-account {
        top: 105px;
    }

    .nav-products {
        &.active {
            top: 100px;
        }
    }

    nav.nav-second {
        &.active {
        }
    }

    .nav-search {
        top: 30px;
    }

    .nav-image {
        height: 100px;
        width: 290px;
        a.contain-image {
            img {
                &.mobile {
                }
                &.desktop {
                }
            }
        }
    }

    .nav-btn {
        height: 100px;
        a.btn-menu {
            
            &.first-move {
                span {
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(3) {
                    }
                }
            }
            &.second-move {
            }
            &.third-move {
                span {
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(2) {
                    }
                    &:nth-of-type(3) {
                    }
                }
            }
            span {
                &:nth-of-type(1) {
                }
                &:nth-of-type(2) {
                }
                &:nth-of-type(3) {
                }
            }
        }
    }
}



// ·············································································· //
// ·······················        General styles        ························· //
// ·············································································· //


.srp-mainrow.general-bloques {
    &.bar-class {
        margin-top: 160px;
    }

    .srp-section.bars-bloque {
        top: 100px;
        &.hide {
            top: 0;
        }
        .bars-bloque--content {
            .bar--content-ppal {
                h3 {
                }
                .arrow {
                    &.active {
                    }
                }
            }
            .bar--content-sec {
                li {
                    a {
                        &.active {
                            h3 {
                            }
                        }
                        h3 {
                        }
                        h4 {
                        }
                    }
                    &:nth-last-of-type(1) {
                    }
                }
            }
        }
    }

    .srp-section.general-bloque {
        .dos-imagenes-texto {
            .imagenes {
                .box-dots {
                }
                .imagen_sup, .imagen_inf {
                    &.imagen_sup {
                    }
                }
            }
            .info-content-sticky {
                top: 205px;
                .info {
                    .box-text {
                    }
                    a.btn-primary {
                    }
                }
            }
        }

        .pop-up--solicitud {
            // max-width: 770px;
            &.active {
            }
            .imagen {
                height: 380px;
                margin-bottom: 40px;
            }
        }

        .texto-gigante-con-imagen {
            .texto-gigante {
                h1 {
                }
            }
            .imagen {
                height: 540px;
            }
            .info {
            }
        }
    }
}


.pswp__top-bar {
    height: 100px;
}

// ·············································································· //
// ······················        Historia styles        ························· //
// ·············································································· //

.srp-mainrow.history {
    .srp-section.section-history {
        .section-history--content {
            .box-dots {
            }
            .carousel-history {
                .owl-stage-outer {
                    .owl-stage {
                        .owl-item {
                            &:not(.center) {
                                .item-history {
                                    .texto {
                                    }
                                }
                            }
                            .item-history {
                                .imagen {
                                    height: calc(~'(100vw - 760px ) * 0.66');
                                    .texto-gigante {
                                        h1 {
                                        }
                                    }
                                }
                                .texto {
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    button {
                        &:nth-of-type(1) {
                        }
                        &:focus {
                        }
                        img {
                        }
                    }
                }
            }
        }
    }
}