// ·············································································· //
// ························        Header styles        ························· //
// ·············································································· //


header.header {
    nav.nav-ppal {
        .titles {
            display: block;
            ul.menu {
                margin: 0;
                display: flex;
                li {
                    border: none;
                    a {
                        text-transform: uppercase;
                        font-size: 14px;
                        color: @primary-color-md;
                        font-family: 'primary-bold';
                        padding: 0;
                        display: flex;
                        align-items: center;
                        margin-right: 25px;

                        @keyframes movein {
                            0% {
                              transform: translateX(0);
                            }
                            50% {
                              transform: translateX(-5px);
                            }
                            100% {
                                transform: translateX(0);
                            }
                        }

                        &:hover {
                            img {
                                // animation-name: movein;
                                // animation-duration: 1s;
                                // animation-timing-function: linear;
                                // animation-iteration-count: infinite;
                            }
                        }
                        img {
                            // transition: .3s ease;
                            margin-right: 10px;
                            padding: 0;
                            width: 18px;
                            height: auto;
                            animation-name: movein;
                            animation-duration: 1s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }
                        span {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .icon {
            ul.menu {
                li {
                    a {
                        img {
                        }
                        span {
                        }
                    }
                }
            }
        }
    }
    nav.nav-second {
        ul.menu {
            li {
                &:nth-last-of-type(1), &:nth-last-of-type(2) {
                    display: none;
                }
                a {
                    font-size: 30px;
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .nav-image {
        a.contain-image {
            img {
            }
        }
    }

    .nav-btn {
        a.btn-menu {
            
            &.first-move {
                span {
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(3) {
                    }
                }
            }
            &.second-move {
            }
            &.third-move {
                span {
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(2) {
                    }
                    &:nth-of-type(3) {
                    }
                }
            }
            span {
                &:nth-of-type(1) {
                }
                &:nth-of-type(2) {
                }
                &:nth-of-type(3) {
                }
            }
        }
    }
}


// ·············································································· //
// ························        Footer styles        ························· //
// ·············································································· //

footer.footer {
    padding-top: 75px;
    .footer-content {
        flex-direction: row;
        flex-wrap: wrap;
        .footer-menus {
            flex-basis: calc(65% ~"-" 20px);
            padding: 0;
            padding-left: 20px;
            margin-right: 3%;
            order: 1;
            .row-top {
                display: flex;
                flex-wrap: wrap;
                .menu-container {
                    flex-basis: 48%;
                    h2 {
                    }
                    ul.menu {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            a {
                            }
                        }
                    }
                }
            }
            .row-bottom {
                .social-media {
                    a {
                    }
                }
            }
        }
        .footer-newsletter {
            flex-basis: calc(32% ~"-" 20px);
            padding: 0;
            padding-right: 20px;
            order: 2;
            section.widget {
                .textwidget {
                    form {
                        .mc4wp-form-fields {
                            h2 {
                            }
                            .form-group {
                                input[type="text"], input[type="email"] {
                                }
                                button[type="submit"] {
                                }
                                span.name, span.mail {
                                    &.name {
                                    }
                                    &.mail {
                                    }
                                }
                            }
                            .form-group-news {
                                label {
                                    .span {
                                        &.active {
                                            .circle {
                                            }
                                        }
                                        .circle {
                                        }
                                    }
                                    input {
                                    }
                                    a {
                                    }
                                }
                            }
                        }
                        .mc4wp-response {
                            p {
                            }
                        }
                    }
                }
            }
        }
        .footer-mosaico {
            margin-top: 50px;
            order: 3;
            flex-basis: 100%;
        }
    }
}


// ·············································································· //
// ························        Home styles        ··························· //
// ·············································································· //

.srp-mainrow.home {

    .srp-section.section-home-top {
        .fondo {
        }
        .section-home-top--content {
            padding-top: 80px;
            padding-bottom: 80px;
            .box-text {
                max-width: 400px;
                margin: 0 0 80px 12.5%;
            }
            .content--product {
                height: 860px;
                max-height: calc(100vh ~"-" 120px);
                .box-dots {
                    &:nth-of-type(1) {
                        right: 50%;
                        transform: translateX(50%);
                    }
                    &:nth-of-type(2) {
                    }
                }
                .content--product--img {
                    max-width: calc(100% ~"-" 12.5%);
                        .box-info {
                            max-width: 260px;
                            &>p {
                            }
                            h3 {
                            }
                    }
                }
            }
        }
    }

    .srp-section.section-home-valors {
        margin-top: 80px;
        .section-home-valors--content {
            .carousel-valors-home {

                .item-valors {
                    .circle-img {
                        .imagen {
                            img {
                            }
                        }
                    }
                    h2 {
                        span {
                            &::after {
                            }
                        }
                    }
                }

                .owl-dots {
                    button {
                        &:focus {
                        }
                        span {
                        }
                        &.active {
                            span {
                            }
                        }
                    }
                }
            }
            a.btn-primary {
                p {
                    span {
                    }
                }
            }
        }
    }
    
}



// ·············································································· //
// ·······················        General styles        ························· //
// ·············································································· //


.text-general-bloques {
    h2 {
    }
    p {
        &:nth-last-of-type(1) {
        }
    }
}

.srp-mainrow.general-bloques {
    
    .srp-section.general-bloque {

        .imagen-izq-texto--content {
            .imagen {
            }
            .info {
                .box-text {
                }
            }
        }

        .dos-imagenes-superpuestas {
            .imagenes {
                .imagen_sup, .imagen_inf {
                }
                .imagen_sup {
                }
                .imagen_inf {
                }
            }
            .info {
                .box-text {
                }
            }
        }

        .imagen-texto-color-fondo {
            .imagen {
            }
            .info {
                align-items: flex-start;
                .box-text {
                    h1 {
                    }
                }
                .text-general-bloques {
                    h2, p {
                    }
                }
                a.btn-primary {
                }
            }
        }

        .galeria-imagenes-texto-fondo-parcial {
            .fondo {
            }
            .section-home-products--content {
                .info {
                    .box-text {
                        &::after {
                        }
                        &::before {
                        }                
                    }
                    .text-secondary {
                        max-width: 300px;
                        h3 {
                        }
                    }
                }
                .carousel-home-products--content {
                    .box-dots {
                        width: 368px;
                        right: 60px;
                        top: -16px;
                    }
                    .carousel-home-products-block {
                        height: 200px;
                        // width: calc(100% ~"-" 20px);
                        // margin-left: auto;
                        .owl-stage-outer {
                            .owl-stage {
                                .owl-item {
                                    a.item-product {
                                        // .opacity {
                                        //     width: 50px;
                                        //     height: 100%;
                                        //     left: 0;
                                        //     h3 {
                                        //     }
                                        // }
                                    }
                                }
                            }
                        }
                        .owl-nav {
                            button {
                                &:nth-of-type(1) {
                                }
                                &:focus {
                                }
                                img {
                                }
                            }
                        }
                    }
                }
            }
        }

        .titulo-iframe {
            h1 {
                margin-right: auto;
            }
            .iframe {
                iframe {
                    height: 300px !important;
                }
            }
            .btn-primary {
            }
        }
        
        .pop-up--solicitud {
            &.active {
            }
            .response-mail {
                .content-response {
                    max-width: initial;
                    .response {
                        margin-bottom: 50px;
                        max-width: 300px;
                        img {
                        }
                        h2 {
                        }
                        p {
                        }
                    }
                    .info {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        max-width: 400px;
                        .info-div {
                            // width: 50%;
                            margin-bottom: 0;
                            // margin-right: 20px;
                            &:nth-last-of-type(1) {
                                margin: 0;
                            }
                            img {
                            }
                            h5 {
                            }
                            p {
                            }
                        }
                    }
                }
            }
            .imagen {
            }
            .title {
                .imagen-title {
                }
            }
            .form {
                form {
                    .form-contact {
                        &:nth-of-type(2) {
                            .image {
                            }
                        }
                        &:nth-of-type(3) {
                            .image {
                            }
                        }
                        &:nth-of-type(4) {
                            .image {
                            }
                        }
                        &:nth-of-type(5) {
                            .image {
                            }
                        }
                        &:nth-of-type(6) {
                            .image {
                            }
                        }
                        label {
                            & > p {
                            }
                            .image {
                            }
                        }
                        span[role="alert"] {
                        }
                        br {
                        }
                    }
                    .acceptance {
                        .check-container {
                            a {
                            }
                        }
                        .check-container input {
                        }
                        .check-container.active .checkmark:after {
                        }
                        .check-container .checkmark {
                            &::after {
                                
                            }
                        }
                    }
                    .submit {
                        input[type="submit"] {
                        }
                    }
                    .wpcf7-response-output {
                        .wpcf7-mail-sent-ok {
                        }
                    }
                }
            }
        }

        .imagen-vertical-texto {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .imagen {
                flex-basis: 50%;
                height: 600px;
            }
            .info {
                flex-basis: calc(50% ~'-' 40px);
                .box-text {
                }
                a.btn-primary {
                }
            }
        }

        .texto-gigante-con-imagen {
            padding-top: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .texto-gigante {
                h1 {
                    font-size: 110px;
                }
            }
            .imagen {
                flex-basis: 55%;
                height: 400px;
            }
            .info {
                margin: 0;
                flex-basis: 40%;
            }
        }

        .galeria-cuadricula--content, .galeria-cuadricula-cuatro--content {
            .info {
                .box-text {
                }
            }
            .carousel-cuadricula_cuatro, .carousel-cuadricula {
                .owl-stage-outer {
                    height: calc(~'(100vw - 40px) / 2');
                    .owl-stage {
                        .owl-item {
                            .item {
                                .imagen {
                                }
                                .text-general-bloques {
                                    h3 {
                                    }
                                    p {
                                    }
                                }
                            }
                        }
                    }
                }

                .owl-dots {
                    button {
                        &:focus {
                        }
                        span {
                        }
                        &.active {
                            span {
                            }
                        }
                    }
                }
            }
            a.btn-primary {
            }
        }

        .testimonios--template {
            .testimonios--content {
                h1 {
                }
                .testimonios-carousel {
                    position: relative;
                    .owl-stage-outer {

                        .item-testimonio {
                            margin: 0 auto;
                            max-width: 400px;
                            img {
                            }
                            h4 {
                            }
                            h5 {
                            }
                        }
                        
                    }

                    .owl-nav {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        transform: translate(-50%, -50%);
                        button {
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            &:nth-of-type(1) {
                                left: 20px;
                            }
                            &:nth-of-type(2) {
                                right: 20px;
                            }
                            &:focus {
                            }
                            img {
                            }
                        }
                    }
                }
            }
        }
    }

}


// ·············································································· //
// ·····················        Workshops styles        ························· //
// ·············································································· //

.srp-mainrow.workshops {

    .workshop--main {
        .workshop--main--content {
            .item-workshops {
                .imagen {
                    height: 300px;
                }
                .info {
                    h4 {
                    }
                    ul.especificaciones {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            img {
                            }
                        }
                    }
                    .texto {
                    }
                }
            }
        }
    }

    .workshop--rest {
        .workshop--rest--content {
            padding: 0 80px;
            .item-workshops {
                .imagen {
                    height: 300px;
                }
                .info {
                    h4 {
                    }
                    ul.especificaciones {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            img {
                            }
                        }
                    }
                    .texto {
                    }
                }
            }
        }
    }

    .form--workshop {
        .response-mail {
            .content-response {
                max-width: initial;
                .response {
                    margin-bottom: 50px;
                    max-width: 300px;
                    img {
                    }
                    h2 {
                    }
                    p {
                    }
                }
                .info {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 400px;
                    .info-div {
                        // width: 50%;
                        margin-bottom: 0;
                        // margin-right: 20px;
                        &:nth-last-of-type(1) {
                            margin: 0;
                        }
                        img {
                        }
                        h5 {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }

}

// ·············································································· //
// ······················        Historia styles        ························· //
// ·············································································· //

.srp-mainrow.history {
    .srp-section.section-history {
        padding: 120px 0 100px;
        .section-history--content {
            position: relative;
            // height: calc(100vh ~'-' 70px);
            .box-dots {
                display: block;
                top: -48px;
                right: 80px;
                position: absolute;
                z-index: 10;
                height: 64px;
                width: 256px;
                background-image: url(../img/dot-yellow.svg);
                background-repeat: repeat;
                background-position: unset;                 
            }
            .carousel-history {
                .owl-stage-outer {
                    .owl-stage {
                        .owl-item {
                            &:not(.center) {
                                .item-history {
                                    .texto {
                                    }
                                }
                            }
                            .item-history {
                                padding-top: 0;
                                padding-bottom: 0;
                                .imagen {
                                    height: 400px;
                                    .texto-gigante {
                                        position: absolute;
                                        top: 0;
                                        left: -35px;
                                        padding: 0;
                                        height: 100%;
                                        width: 50px;
                                        margin: 0;
                                        h1 {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            right: auto;
                                            transform: translate(-50%, -50%) rotate(-90deg);
                                            text-align: center;
                                            font-size: 80px;
                                            line-height: initial;
                                        }
                                    }
                                }
                                .texto {
                                    column-count: 2;
                                    column-gap: 25px;
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    button {
                        &:nth-of-type(1) {
                        }
                        &:focus {
                        }
                        img {
                        }
                    }
                }
            }
        }
    }
}


// ·············································································· //
// ························        WOOCOMMERCE        ··························· //
// ·············································································· //

#primary.content-area {

    // ·············································································· //
    // ······················        SINGLE PRODUCT        ·························· //
    // ·············································································· //

    .product.type-product {
        .single-product--main {
            padding-top: 120px;
            .fondo {
                width: 25%;
            }
            .single-product-main--content {
                margin-bottom: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &::after{
                }
                .texto-gigante {
                    top: -80px;
                    h1 {
                        font-size: 120px;
                    }
                }
                .images {
                    margin: 0;
                    width: 50%;
                    .woocommerce-product-gallery__image {
                        a.woocommerce-main-image {
                            img {
                                height: calc(~'50vw - 40px');
                            }
                        }
                    }
                    .thumbnails {
                        ul {
                            button {
                                &.slick-disabled {
                                }
                            }
                            button.slick-prev {
                                &::before {
                                }
                            }
                            button.slick-next {
                                &::before {
                                }
                            }
                            .slick-list {
                                li {
                                }
                            }
                        }
                    }
                }

                .summary.entry-summary {
                    width: calc(~'50% - 40px');
                    padding: 0 0px 0 40px;
                    h1 {
                    }
                    .price {
                        span {
                        }
                    }
                    .woocommerce-product-details__short-description {
                    }
                    form.variations_form.cart {
                        margin-bottom: 0;
                        table {
                            tbody {
                                tr {
                                    td {
                                        label {
                                        }
                                        &.value {
                                            .select2-hidden-accessible {
                                                min-width: initial;
                                            }
                                            .select2 .select2-selection {
                                                &:focus {
                                                }
                                                .select2-selection__arrow {
                                                    b {
                                                    }
                                                }
                                                .select2-selection__rendered {
                                                }
                                                .select2-selection__arrow {
                                                }
                                            }
                                            input, .select2 {
                                                &::placeholder {
                                                }
                                                &:focus {
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .single_variation_wrap {
                            .woocommerce-variation.single_variation {
                            }
                            .woocommerce-variation-price {
                                .price {
                                    span {
                                    }
                                }
                            }
                            .product_meta {
                                & > div {
                                    a {
                                        &:focus {
                                        }
                                        &:hover {
                                        }
                                    }
                                }
                                .sku_wrapper, .posted_in {
                                }
                            }
                        }

                        a.reset_variations {
                            img {
                            }
                            p {
                                @media all and(min-width: 1200px) {
                                }
                            }
                        }
                    }
                }
            }
        }


        .single-product--block {

            .block-caracteristicas {
                max-width: 810px;
                margin: 0 auto 40px;
                h5 {
                }
                .block-caracteristicas--content {
                    flex-direction: row;
                    flex-wrap: wrap;
                    .caracter {
                        flex-basis: calc(~'100% / 3');
                        width: initial;
                        box-shadow: 0 -1px 0 #1c355e;
                        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                            box-shadow: 0 0 0 #1c355e;
                        }
                        &:nth-last-of-type(1) {
                            box-shadow: 0 -1px 0 #1c355e;
                        }
                        p {
                            
                        }
                    }
                }
            }

            .block-banner {
                .imagen-texto-color-fondo {
                    .imagen {
                    }
                    .info {
                        align-items: flex-start;
                        .box-text {
                            h1 {
                            }
                        }
                        .text-general-bloques {
                            h3, p {
                            }
                        }
                        a.btn-primary {
                        }
                    }
                }
            }

            .block-related {

            }
        }
    }

    // ·············································································· //
    // ··························        CATEGORIAS        ·························· //
    // ·············································································· //

    .archive-page-product {

        .sidebar-general {
            .main-sidebar-general {
                p {
                }
                .arrow {
                    &.active {
                        img {
                        }
                    }
                    img {
                    }
                }
            }
            .sidebar--nav-products {
                .list-category {
                    .row-sidebar {
                        a {
                            p {
                            }
                        }
                        .arrow {
                            &.active {
                                &::after {
                                }
                                &::before {
                                }
                            }
                            img {
                            }
                            &::after {
                            }
                            &::before {
                            }
                        }
                    }
                    ul.list-category--second {
                        li {
                            &:nth-last-of-type(1) {
                                a {
                                }
                            }
                            a {
                            }
                        }
                    }
                }
            }
        }

        .results--orderby {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 40px;
            .woocommerce-result-count {
                margin-right: 50px;
                margin-bottom: 0;
            }

            .woocommerce-ordering {
                min-width: 200px;
                width: auto;
                margin-bottom: 0;
                .select2 .select2-selection {
                    background-color: transparent;
                    &:focus {
                    }
                    .select2-selection__arrow {
                        b {
                        }
                    }
                    .select2-selection__rendered {
                    }
                    .select2-selection__arrow {
                    }
                }
                input, .select2 {
                    &::placeholder {
                    }
                    &:focus {
                    }
                }
            }
        }

        .products {
            padding: 0;
            .texto-gigante {
                top: -90px;
                h1 {
                    line-height: 100px;
                    font-size: 140px;
                }
            }

            li.product {
                &:nth-of-type(2n) {
                }
                a {
                    img {
                    }
                    h3 {
                    }
                    .price {
                    }
                }
            }
        }

        .woocommerce-pagination {
            ul {
                li {
                    span {
                    }
                    a {
                    }
                    span, a {
                        &.next {
                        }
                    }
                }
            }
        }

    }

    // ·············································································· //
    // ······················        AREA DE COMPRA        ·························· //
    // ·············································································· //

    #main.site-main {
        .woocommerce-breadcrumb {
        }

        .woocommerce-notices-wrapper {
            .woocommerce-error {
                &::before, &::after {
                }
                li {
                    &:nth-last-of-type(1) {
                    }
                }
            }
            .woocommerce-message {
                &::after, &::before {
                }
                a {
                    &:focus {
                    }
                    &:hover {
                    }
                }
                @media all and(min-width: 1200px) {
                }
            }
        }
    }

    .content--form-buy {
        .woocommerce-cart-form {
            table.shop_table {
                margin-bottom: 40px;
                thead {
                    display: none;
                }
                tbody {
                    tr:nth-last-of-type(1) {
                        td {
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            .coupon {
                            }
                            a {
                                margin: 0;
                                p {
                                    flex-basis: initial;
                                }
                            }
                            button {
                                margin-left: 20px;
                                padding: 0;
                                width: initial;
                                &:focus {
                                }
                                img {
                                }
                                p {
                                    flex-basis: initial;
                                }
                            }
                        }
                    }
                    tr.cart_item {
                        display: flex;
                        justify-content: space-between;
                        padding-right: 40px;
                        &:nth-last-of-type(1) {
                        }
                        &:nth-of-type(2n) {
                            td {
                            }
                        }
                        td {
                            padding: 0 10px;
                            flex-basis: 20%;
                            &::before {
                                margin-bottom: 10px;
                            }
                            #edit_from_cart {
                            }
                        }
                        td.product-remove {
                            height: 24px;
                            top: 10px;
                            &::before {
                                display: none;
                            }
                            a {
                            }
                        }
                        td.product-thumbnail {
                            &::before {
                            }
                            a {
                                width: 100%;
                                img {
                                }
                            }
                        }
                        td.product-quantity {
                            .quantity {
                                .quantity-nav {
                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {
                                    }

                                    input[type=number] {
                                    }
                                    input[type="number"] {
                                        &:focus {
                                        }
                                    }
                                    .quantity-nav-fake {
                                        .quantity-button {
                                            &:nth-of-type(2) {
                                                img {
                                                }
                                            }
                                            img {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-collaterals {
            .cart_totals  {
                padding: 50px;
                width: calc(~'100% - 100px');
                table.shop_table {
                    border-collapse: collapse;
                    tbody {
                        tr {
                            th {
                                display: none;
                            }
                            &:nth-of-type(2n) {
                                td {
                                    justify-content: flex-start;
                                }
                            }
                            &.woocommerce-shipping-totals {
                                td {
                                    ul {
                                        li {
                                            label {
                                                @media all and(min-width: 1200px) {
                                                }
                                            }
                                            input {
                                            }
                                            & > span {
                                                &.active {
                                                    &::after {
                                                    }
                                                }
                                                &::after {
                                                }
                                            }
                                        }
                                    }
                                    p.woocommerce-shipping-destination {
                                    }
                                    form {
                                        
                                    }
                                }
                            }
                            td {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                &:nth-of-type(1) {
                                    &::before {
                                    }
                                }
                                &::before {
                                    @media all and(min-width: 1200px) {
                                    }
                                }
                                a, span {
                                    @media all and(min-width: 1200px) {
                                    }
                                }
                            }
                        }
                    }
                }
                .coupon-fake {
                    .form {
                        input {
                            &:focus {
                            }
                        }
                        a {
                            p {
                            }
                        }
                    }
                }
                .wc-proceed-to-checkout {
                    a {
                        p {
                        }
                        &:focus {
                        }
                        &:hover {
                        }
                    }
                }
            }
        }

        form#order_review {
            margin: 0 auto;
            max-width: 1040px;
            table.shop_table {
                th, td {
                }
                thead {
                    tr {
                        th {
                            &:nth-last-of-type(1) {
                                text-align: center;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        border: 1px solid @secondary-color-md;
                        margin-bottom: 20px;
                        &:nth-last-of-type(1) {
                            margin-bottom: 0;
                        }
                    }
                    td {
                        padding-top: 40px;
                        padding-bottom: 40px;
                        &:nth-last-of-type(1) {
                        }
                    }
                }
                tfoot {
                    background-color: @primary-color-lg;
                    tr {
                        th {
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }

            #payment {
                .wc_payment_methods {
                    label {
                        @media all and(min-width: 1200px) {
                        }
                        img {
                        }
                    }
                    .payment_box {
                        &::before {
                        }
                    }
                    
                }
                .form-row {
                    .woocommerce-terms-and-conditions-wrapper {
                        .woocommerce-privacy-policy-text {
                            br {
                            }
                        }
                    }
                    .validate-required {
                        &.woocommerce-invalid-required-field {
                            label, a {
                            }
                        }
                        label {
                            input {
                            }
                        }
                    }
                    button {
                        &:focus {
                        }
                        &:hover {
                        }
                    }
                }
            }
        }
    }


    // ·············································································· //
    // ······················        AREA DE USUARIO        ························· //
    // ·············································································· //

    .woocommerce {
        // margin: 70px auto 0;
        .cart-empty.woocommerce-info {
        }



        // ·············································································· //
        // ·························        THANK YOU PAGE        ······················· //
        // ·············································································· //

        .woocommerce-order {
            & > p {
                @media all and(min-width: 1200px) {
                }
            }
            ul.woocommerce-order-overview {
                &::after, &::before {
                }
                li {
                    @media all and(min-width: 1200px) {
                    }
                    &:nth-of-type(1) {
                    }
                    &:nth-last-of-type(1) {
                    }
                    strong {
                    }
                }

            }
            .woocommerce-order-details {

                table.woocommerce-table {
                    border: none;
                    thead {
                        border-bottom: 1px solid @secondary-color-md;
                        tr {
                            th {
                                padding: 20px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td, th {
                                border-bottom: 1px solid @primary-color-md;
                                border-top: none;
                                padding: 20px;
                                &.woocommerce-table__product-name {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    img {
                                        max-width: 100px;
                                        margin-right: 20px;
                                    }
                                    .info-prod {
                                        width: 250px;
                                    }
                                }
                            }
                        }
                    }
                    tfoot {
                        tr {
                            td {
                                padding: 20px;
                                border-bottom: 1px solid @primary-color-md;
                                border-top: none;
                                text-align: right;
                            }
                            th {
                                padding: 20px;
                                border-bottom: 1px solid @primary-color-md;
                                border-top: none;
                            }
                        }
                    }
                }
    
                .woocommerce-table--custom-fields {
                    background-color: @secondary-color-lg;
                    border: none;
                    border-radius: 0;
                    tbody {
                        tr {
                            th, td {
                                border: none !important;
                                padding: 20px;
                            }
                            th {
                                text-align: left;
                            }
                            td {
                                text-align: right;
                            }
                        }
                    }
                }
            }
            .woocommerce-customer-details {
                address {
                    max-width: 300px !important;
                }
            }

        }



        .return-to-shop {
            a {
                p {
                }
                &:focus {
                }
                &:hover {
                }
            }
        }


        // ·············································································· //
        // ····························        CHECKOUT        ·························· //
        // ·············································································· //

        .woocommerce-form-coupon-toggle {
            .woocommerce-info {
                &::before {
                }
                a {
                }
            }
        }

        form.checkout_coupon {
            display: flex;
            flex-wrap: wrap;
            p:nth-of-type(1) {
                flex-basis: 100%;
                margin-bottom: 20px;
            }
            p {
                flex-basis: 200px;
                margin-right: 40px;
                margin-left: 0;
                margin-bottom: 0;
                width: initial;

            }
            .form-row-last {
                button {
                    margin: 0;
                    &:focus {
                    }
                    &:hover {
                    }
                }
            }
        }

        form.woocommerce-checkout {
            #customer_details {
                .col-1, .col-2 {
                    float: none;
                    width: 100%;
                }
                .col-1 {
                    .woocommerce-billing-fields__field-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
                .col-2 {
                    .woocommerce-shipping-fields__field-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .woocommerce-shipping-fields {
                        h3 {
                            float: none;
                            width: 100%;
                            label {
                                span.text {
                                }
                                span.input {
                                    &.active {
                                        &::after {
                                        }
                                    }
                                    &::after {
                                    }
                                }
                                input {
                                }
                            }
                        }
                    }
                    .woocommerce-additional-fields {
                        label {
                        }
                        textarea {
                            @media all and(min-width: 1200px) {
                            }
                            &::placeholder {
                            }
                            &:focus {
                            }
                        }
                    }
                }
            }
            #order_review {
                table.shop_table {
                    th, td {
                    }
                    thead {
                        tr {
                            th {
                                &:nth-of-type(1) {
                                }
                            }
                        }
                    }
                    tbody {
                        .cart_item {
                            &:nth-of-type(1) {
                            }
                            &:nth-last-of-type(1) {
                            }
                            td {
                                &:nth-last-of-type(1) {
                                }
                                span {
                                }
                                #edit_from_cart {
                                }
                            }
                        }
                    }
                    tfoot {
                        tr {
                            &:nth-of-type(2n) {
                                td {
                                }
                            }
                            &.cart-subtotal {
                                th {
                                }
                                td {
                                    &::before {
                                    }
                                }
                            }
                            &.order-total {
                                th {
                                }
                                td {
                                    &::before, span {
                                    }
                                }
                            }
                            &.woocommerce-shipping-totals {
                                th {
                                }
                                td {
                                    &::before {
                                        @media all and(min-width: 1200px) {
                                        }
                                    }
                                    ul {
                                        margin-top: 10px;
                                        li {
                                            label {
                                                @media all and(min-width: 1200px) {
                                                }
                                            }
                                            input {
                                            }
                                            & > span {
                                                &.active {
                                                    &::after {
                                                    }
                                                }
                                                &::after {
                                                }
                                            }
                                        }
                                    }
                                    p.woocommerce-shipping-destination {
                                    }
                                    form {
                                        
                                    }
                                }
                            }
                            td {
                                
                                a, span {
                                    @media all and(min-width: 1200px) {
                                    }
                                }
                            }
                        }
                    }
                }

                .woocommerce-checkout-payment {
                    .wc_payment_methods {
                        padding: 20px;
                        label {
                        }
                        .payment_box {
                            &::before {
                            }
                        }
                        
                    }
                    .form-row {
                        padding: 20px;
                        .woocommerce-terms-and-conditions-wrapper {
                            .woocommerce-privacy-policy-text {
                                br {
                                }
                            }
                        }
                        .validate-required {
                            padding-right: 0;
                            padding-left: 0;
                            &.woocommerce-invalid-required-field {
                                label, a {
                                }
                            }
                            label {
                                input {
                                }
                            }
                        }
                        button {
                            &:focus {
                            }
                            &:hover {
                            }
                        }
                    }
                }
            }
        }


        // ·············································································· //
        // ·····························        USUARIO        ·························· //
        // ·············································································· //

        .register-column, .woocommerce-MyAccount-content {
            width: 100%;

            .woocommerce-order-details {
                table.woocommerce-table--order-details, table.woocommerce-table--custom-fields {
                    border: none;
                    thead {
                        border-bottom: 1px solid @secondary-color-md;
                        tr {
                            th {
                                padding: 20px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td, th {
                                border-bottom: 1px solid @primary-color-md;
                                border-top: none;
                                padding: 20px;
                                &.woocommerce-table__product-name {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    img {
                                        max-width: 100px;
                                        margin-right: 20px;
                                    }
                                    .info-prod {
                                        width: 250px;
                                    }
                                }
                            }
                        }
                    }
                    tfoot {
                        tr {
                            td {
                                padding: 20px;
                                border-bottom: 1px solid @primary-color-md;
                                border-top: none;
                                text-align: right;
                            }
                            th {
                                padding: 20px;
                                border-bottom: 1px solid @primary-color-md;
                                border-top: none;
                            }
                        }
                    }
                }

                .woocommerce-table--custom-fields {
                    background-color: @secondary-color-lg;
                    border: none;
                    border-radius: 0;
                    tbody {
                        tr {
                            th, td {
                                border: none !important;
                                padding: 20px;
                            }
                            th {
                                text-align: left;
                            }
                            td {
                                text-align: right;
                            }
                        }
                    }
                }
            }

            table.my_account_orders {
                border: none;
                thead {
                    tr {
                        th {
                            padding: 10px 20px;
                            text-align: center;
                            span {
                                font-family: 'primary-bold';
                                color: @primary-color-md;
                                font-size: 16px;
                                
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        display: table-row;
                        &:nth-child(2n) {
                            td {
                            }
                        }
                        &:nth-last-of-type(1) {
                            td {
                                border-bottom: none;
                            }
                        }
                        th {}
                        td {
                            background-color: @primary-color-lg;
                            text-align: center !important;
                            display: table-cell;
                            padding: 10px 20px;
                            border-bottom: 1px solid @primary-color-md;
                            // &:nth-of-type(4) {
                            //     text-align: left !important;
                            // }
                            &::before {
                            }
                            & > div {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                a {
                                    display: flex;
                                }
                            }
                            @media all and(min-width: 1200px) {
                            }

                            &.woocommerce-orders-table__cell-order-actions {
                                display: table-cell;
                                a {
                                    &:focus {
                                    }
                                    &:hover {
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .woocommerce-Addresses {
                display: flex;
                justify-content: space-between;
                &::before, &::after {
                    display: none;
                }
                .woocommerce-Address {
                    flex-basis: calc(~'50% - 20px');
                    margin-bottom: 0;
                    &:nth-last-of-type(1) {
                    }
                    .woocommerce-Address-title {
                    }
                }
            }
        }

        address {
        }

        .title-flex {
            img {
            }
            h5 {
            }
        }

        p.button-content {
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            button {
                margin-top: 30px !important;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            & > h3 {
                width: 100%;
            }
            .first-column, .second-column {
                flex-basis: calc(~'50% - 20px');
                &.first-column {
                    margin-right: 40px;
                }
                p {
                    flex-basis: 100%;
                    margin-left: 0;
                }
            } 
            .woocommerce-address-fields__field-wrapper {
                display: flex;
                flex-wrap: wrap;
            }
            p {
                margin-bottom: 20px;
                &.without-label {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
                flex-basis: calc(~'50% - 20px');
                margin-left: 40px;
                &:nth-of-type(2n - 1) {
                    margin-left: 0;
                }
                &:nth-last-of-type(1) {
                }
                label {
                }
                input {
                    &::placeholder {
                    }
                    &:focus {
                    }
                }

                button {
                }
                
                button.btn-primary {
                    &:focus {
                    }
                    &:hover {
                    }
                }

                button.btn-secondary {
                    &:focus {
                    }
                    &:hover {
                    }
                }
            }
            fieldset {
                legend {
                }
            }
        }

        h3 {
        }

        h5 {
        }

        .login-column {
        }
    }

}