// ·············································································· //
// ························        Header styles        ························· //
// ·············································································· //


header.header {
    nav.nav-ppal {
        .titles {
            transition: 1s ease;
            &.active {
                margin-right: 280px;
            }
            ul.menu {
                li {
                    a {
                        &:hover {
                            img {
                            }
                        }
                        img {
                        }
                        span {
                        }
                    }
                }
            }
        }
        .icon {
            ul.menu {
                li {
                    a {
                        img {
                        }
                        span {
                        }
                    }
                }
            }
        }
    }
    nav.nav-second {
        &.active {
        }
        ul.menu {
            &.active {
            }
            li {
                &:nth-last-of-type(1) {
                }
                a {
                    display: flex;
                    flex-direction: column;
                    span {
                        font-size: 80px;
                    }
                    img {
                    }
                }
            }
        }
        .social-media {
            bottom: 80px;
            &.active {
            }
            a {
                font-size: 24px;
                &:nth-last-of-type(1) {
                }
            }
        }
    }

    .nav-search {
        top: 15px;
        z-index: 200;
        left: initial;
        right: 200px;
        width: 270px;
        &.active {
        } 
        input {
            &::placeholder {
            }
            &:focus {
            }
        }
        .autocomplete-items {
            a {
                &:nth-last-of-type(1) {
                }
            }
        }
    }
}


// ·············································································· //
// ························        Home styles        ··························· //
// ·············································································· //

.srp-mainrow.home {

    .srp-section.section-home-top {
        .fondo {
        }
        .section-home-top--content {
            .box-text {
            }
            .content--product {
                .box-dots {
                    &:nth-of-type(1) {
                        width: 320px;
                    }
                    &:nth-of-type(2) {
                        display: block;
                        width: 320px;
                        height: 64px;
                        bottom: -32px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .content--product--img {
                        .box-info {
                            &>p {
                            }
                            h3 {
                            }
                    }
                }
            }
        }
    }

    .srp-section.section-home-valors {
        .section-home-valors--content {
            .carousel-valors-home {
                margin-bottom: 20px;
                &.carousel-valors-home-desktop {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                &.carousel-valors-home-mobile {
                    display: none;
                }

                .item-valors {
                    flex-direction: row;
                    flex-basis: 48%;
                    justify-content: center;
                    margin-bottom: 40px;
                    .circle-img {
                        margin-bottom: 0;
                        margin-right: 20px;
                        .imagen {
                            img {
                            }
                        }
                    }
                    h2 {
                        max-width: 350px;
                        text-align: left;
                        span {
                            &::after {
                            }
                        }
                    }
                }

                .owl-dots {
                    button {
                        &:focus {
                        }
                        span {
                        }
                        &.active {
                            span {
                            }
                        }
                    }
                }
            }
            a.btn-primary {
                p {
                    span {
                    }
                }
            }
        }
    }
    
}



// ·············································································· //
// ·······················        General styles        ························· //
// ·············································································· //


.text-general-bloques {
    h2 {
    }
    p {
        &:nth-last-of-type(1) {
        }
    }
}

.srp-mainrow.general-bloques {

    .srp-section.bars-bloque {
        .bars-bloque--content {
            padding: 0;
            height: 60px;
            .bar--content-ppal {
                display: none;
                h3 {
                }
                .arrow {
                    &.active {
                    }
                }
            }
            .bar--content-sec {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                li {
                    padding: 0;
                    margin: 0 20px;
                    a {
                        &.active {
                            h3 {
                                font-weight: 700;;
                            }
                        }
                        h3 {
                            display: block;
                            text-transform: uppercase;
                            font-weight: 400;
                        }
                        h4 {
                            display: none;
                        }
                    }
                    &:nth-last-of-type(1) {
                    }
                }
            }
        }
    }
    
    .srp-section.general-bloque {

        .imagen-izq-texto--content {
            margin-bottom: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .imagen {
                height: 450px;
                flex-basis: 60%;
            }
            .info {
                margin: 0;
                flex-basis: 35%;
                .box-text {
                }
            }
        }

        .dos-imagenes-superpuestas {
            margin-bottom: 80px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .imagenes {
                padding-bottom: 0;
                flex-basis: 60%;
                order: 2;
                .imagen_sup, .imagen_inf {
                }
                .imagen_sup {
                    width: 80%;
                    min-height: 100%;
                    height: 400px;
                    margin-bottom: 20%;
                }
                .imagen_inf {
                    width: 65%;
                    min-height: 60%;
                    height: 300px;
                }
            }
            .info {
                flex-basis: 35%;
                order: 1;
                .box-text {
                }
            }
        }

        .imagen-texto-color-fondo {
            margin-bottom: 80px;
            display: flex;
            justify-content: space-between;
            .imagen {
                flex-basis: 50%;
                height: auto;
                order: 2;
            }
            .info {
                flex-basis: calc(50% ~'-' 40px);
                padding: 40px 20px;
                order: 1;
                .box-text {
                    h1 {
                    }
                }
                .text-general-bloques {
                    h2, p {
                    }
                }
                a.btn-primary {
                }
            }
        }

        .galeria-imagenes-texto-fondo-parcial {
            margin-bottom: 80px;
            padding: 100px 0;
            .fondo {
                width: 35%;
            }
            .section-home-products--content {
                padding-left: 20px;
                .info {
                    .box-text {
                        margin-right: 80px;
                        max-width: calc(100% ~'-' 110px);
                        &::after {
                        }
                        &::before {
                        }                
                    }
                    .text-secondary {
                        padding-right: 80px;
                        // margin-bottom: 30px;
                        h3 {
                        }
                    }
                }
                .carousel-home-products--content {
                    padding-left: 5%;
                    .box-dots {
                        height: 80px;
                        left: calc(5% ~'+' 50px);
                    }
                    .carousel-home-products-block {
                        height: calc(~'('~'('100vw ~'-' 12.5vw~')' ~'/' 3~')' ~'-' 3vw);
                        .owl-stage-outer {
                            .owl-stage {
                                left: -50px;
                                .owl-item {
                                    a.item-product {
                                        // .opacity {
                                        //     h3 {
                                        //     }
                                        // }
                                    }
                                }
                            }
                        }
                        .owl-nav {
                            margin-top: 0;
                            left: -35px;
                            top: calc(~'('100% ~'-' 20px~')' ~'/' 2);
                            button {
                                width: 60px;
                                height: 60px;
                                &:nth-of-type(1) {
                                    // margin-bottom: 20px;
                                }
                                &:focus {
                                }
                                img {
                                    width: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .titulo-iframe {
            margin-bottom: 80px;
            h1 {
            }
            .iframe {
                iframe {
                    height: 500px !important;
                }
            }
            .btn-primary {
            }
        }

        .dos-imagenes-texto {
            display: block;
            .imagenes {
                display: inline-block;
                vertical-align: top;
                width: 60%;
                .box-dots {
                    width: 368px;
                }
                .imagen_sup, .imagen_inf {
                    height: 500px;
                    &.imagen_sup {
                    }
                }
            }
            .info-content-sticky {
                margin-left: 50px;
                display: inline-block;
                vertical-align: top;
                position: sticky;
                top: 145px;
                width: calc(40% ~'-' 80px);
                .info {
                    margin: 0;
                    padding: 0;
                    .box-text {
                    }
                    a.btn-primary {
                    }
                }
            }
        }

        .imagen-vertical-texto {
            padding: 0 40px;
            .imagen {
                height: 700px;
            }
            .info {
                .box-text {
                }
                a.btn-primary {
                }
            }
        }

        .texto-gigante-con-imagen {
            margin-bottom: 80px;

            .texto-gigante {
                h1 {
                }
            }
            .imagen {
            }
            .info {
            }
        }

        .galeria-cuadricula--content, .galeria-cuadricula-cuatro--content {
            margin-bottom: 80px;
            .info {
                .box-text {
                }
            }
            .carousel-cuadricula_cuatro, .carousel-cuadricula {
                .owl-stage-outer {
                    height: calc(~'(100vw - 80px) / 3');
                    .owl-stage {
                        .owl-item {
                            .item {
                                .imagen {
                                }
                                .text-general-bloques {
                                    h3 {
                                    }
                                    p {
                                    }
                                }
                            }
                        }
                    }
                }

                .owl-dots {
                    button {
                        &:focus {
                        }
                        span {
                        }
                        &.active {
                            span {
                            }
                        }
                    }
                }
            }
            a.btn-primary {
            }
        }

        .carousel-productos-full-width {
            margin-bottom: 80px;
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .item-prod {
                            img {
                                &.desktop {
                                }
                            }
                        }
                    }
                }
            }
            .owl-nav {
                button {
                    width: 60px;
                    height: 60px;
                    &.owl-prev {
                    }
                    &.owl-next {
                    }
                    &:focus {
                    }
                    img {
                        width: 15px;
                    }
                }
            }
        }

        .testimonios--template {
            .testimonios--content {
                h1 {
                }
                .testimonios-carousel {
                    .item-testimonio {
                        img {
                        }
                        h4 {
                        }
                        h5 {
                        }
                    }

                    .owl-nav {
                        button {
                            width: 60px;
                            height: 60px;
                            &:nth-of-type(1) {
                            }
                            &:nth-of-type(2) {
                            }
                            &:focus {
                            }
                            img {
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

}


// ·············································································· //
// ·····················        Workshops styles        ························· //
// ·············································································· //

.srp-mainrow.workshops {

    .workshop--main {
        .workshop--main--content {
            .item-workshops {
                flex-direction: row;
                align-items: stretch;
                .imagen {
                    height: initial;
                    flex-basis: 50%;
                }
                .info {
                    flex-basis: calc(~'50% - 40px');
                    h4 {
                    }
                    ul.especificaciones {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            img {
                            }
                        }
                    }
                    .texto {
                    }
                }
            }
        }
    }

    .workshop--rest {
        .workshop--rest--content {
            padding: 0 40px;
            .item-workshops {
                flex-direction: row;
                align-items: stretch;
                .imagen {
                    height: initial;
                    flex-basis: 50%;
                }
                .info {
                    flex-basis: calc(~'50% - 40px');
                    h4 {
                    }
                    ul.especificaciones {
                        li {
                            &:nth-last-of-type(1) {
                            }
                            img {
                            }
                        }
                    }
                    .texto {
                    }
                }
            }
        }
    }

    .form--workshop {
        padding: 0;
        max-width: 770px;
        display: flex;
        flex-wrap: wrap;
        &.active {
        }
        .cancell {
            span {
                &:nth-of-type(1) {
                }
                &:nth-of-type(2) {
                }
            }
        }
        .imagen {
            height: 350px;
            flex-basis: 100%;
        }
        .info-workshop {
            padding: 40px 20px;
            margin-bottom: 0;
            flex-basis: calc(~'50% - 40px');
            .title {
                img {
                }
            }
            .title-workshop {
                h3 {
                }
            }
            ul.especificaciones {
                li {
                    &:nth-last-of-type(1) {
                    }
                    img {
                    }
                }
            }
        }
        .form {
            padding: 40px 20px;
            flex-basis: calc(~'50% - 40px');
            form {
                align-items: flex-start;
                .form-contact {
                    &:nth-of-type(2) {
                    }
                    &:nth-of-type(3) {
                        .image {
                        }
                    }
                    &:nth-of-type(4) {
                        .image {
                        }
                    }
                    &:nth-of-type(5) {
                        .image {
                        }
                    }
                    label {
                        & > p {
                        }
                        .image {
                        }
                    }
                    span[role="alert"] {
                    }
                    br {
                    }
                }
                .acceptance {
                    .check-container {
                        a {
                        }
                    }
                    .check-container input {
                    }
                    .check-container.active .checkmark:after {
                    }
                    .check-container .checkmark {
                        &::after {
                            
                        }
                    }
                }
                .submit {
                    input[type="submit"] {
                    }
                }
                .wpcf7-response-output {
                    .wpcf7-mail-sent-ok {
                    }
                }
            }
        }
    }

}



// ·············································································· //
// ······················        Historia styles        ························· //
// ·············································································· //

.srp-mainrow.history {
    .srp-section.section-history {
        .section-history--content {
            .box-dots {
                width: 400px;
                height: 96px;
                right: 10%;
                top: -72px;
            }
            .carousel-history {
                .owl-stage-outer {
                    .owl-stage {
                        .owl-item {
                            &:not(.center) {
                                .item-history {
                                    .texto {
                                    }
                                }
                            }
                            .item-history {
                                .imagen {
                                    .texto-gigante {
                                        h1 {
                                        }
                                    }
                                }
                                .texto {
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    button {
                        &:nth-of-type(1) {
                        }
                        &:focus {
                        }
                        img {
                        }
                    }
                }
            }
        }
    }
}



// ·············································································· //
// ························        WOOCOMMERCE        ··························· //
// ·············································································· //

.woocommerce-account {
    .woocommerce-MyAccount-navigation {
        float: initial;
        width: initial;
    }
}


#primary.content-area {

    // ·············································································· //
    // ······················        SINGLE PRODUCT        ·························· //
    // ·············································································· //

    .product.type-product {
        .single-product--main {}
        .single-product--block {

            .block-caracteristicas {
                h5 {
                }
                .block-caracteristicas--content {
                    .caracter {
                        &:nth-last-of-type(1) {
                        }
                        p {
                            
                        }
                    }
                }
            }

            .block-video {
                // margin-bottom: 40px;
                .block-video--content {
                    padding: 0 80px;
                    iframe {
                        height: 500px !important;
                    }
                }
            }

            .block-banner {
                .imagen-texto-color-fondo {
                    margin-bottom: 80px;
                    display: flex;
                    justify-content: space-between;
                    .imagen {
                        flex-basis: 50%;
                        height: auto;
                        order: 2;
                    }
                    .info {
                        flex-basis: calc(50% ~'-' 40px);
                        padding: 40px 20px;
                        order: 1;
                        .box-text {
                            h1 {
                            }
                        }
                        .text-general-bloques {
                            h2, p {
                            }
                        }
                        a.btn-primary {
                        }
                    }
                }
            }

            .block-related {

            }
        }
    }


    // ·············································································· //
    // ··························        CATEGORIAS        ·························· //
    // ·············································································· //

    .archive-page-product {
        
        .sidebar-general {
            .main-sidebar-general {
                p {
                }
                .arrow {
                    &.active {
                        img {
                        }
                    }
                    img {
                    }
                }
            }
            .sidebar--nav-products {
                .list-category {
                    .row-sidebar {
                        a {
                            p {
                            }
                        }
                        .arrow {
                            &.active {
                                &::after {
                                }
                                &::before {
                                }
                            }
                            img {
                            }
                            &::after {
                            }
                            &::before {
                            }
                        }
                    }
                    ul.list-category--second {
                        li {
                            &:nth-last-of-type(1) {
                                a {
                                }
                            }
                            a {
                            }
                        }
                    }
                }
            }
        }

        .results--orderby {
            .woocommerce-result-count {
            }

            .woocommerce-ordering {
                .select2 .select2-selection {
                    &:focus {
                    }
                    .select2-selection__arrow {
                        b {
                        }
                    }
                    .select2-selection__rendered {
                    }
                    .select2-selection__arrow {
                    }
                }
                input, .select2 {
                    &::placeholder {
                    }
                    &:focus {
                    }
                }
            }
        }

        .products {
            // margin: 0 auto 40px;
            // max-width: 990pxr;
            .texto-gigante {
                h1 {
                }
            }

            li.product {
                width: calc(~'(100% / 3) - 20px');
                margin-right: 30px;
                &:nth-of-type(2n) {
                    margin-right: 30px;
                }
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
                a {
                    img {
                        height: calc(~'(100vw - 100px) / 3 ') !important;
                    }
                    h3 {
                    }
                    .price {
                    }
                }
            }
        }

        .woocommerce-pagination {
            ul {
                li {
                    span {
                    }
                    a {
                    }
                    span, a {
                        &.next {
                        }
                    }
                }
            }
        }
        
    }

    // ·············································································· //
    // ······················        AREA DE COMPRA        ·························· //
    // ·············································································· //

    #main.site-main {
        .woocommerce-breadcrumb {
        }

        .woocommerce-notices-wrapper {
            .woocommerce-error {
                &::before, &::after {
                }
                li {
                    &:nth-last-of-type(1) {
                    }
                }
            }
            .woocommerce-message {
                &::after, &::before {
                }
                a {
                    &:focus {
                    }
                    &:hover {
                    }
                }
                @media all and(min-width: 1200px) {
                }
            }
        }
    }

    .content--form-buy {
        .woocommerce-cart-form {
            table.shop_table {
                thead {
                }
                tbody {
                    tr:nth-last-of-type(1) {
                        td {
                            .coupon {
                            }
                            a {
                                p {
                                }
                            }
                            button {
                                &:focus {
                                }
                                img {
                                }
                                p {
                                }
                            }
                        }
                    }
                    tr.cart_item {
                        padding: 20px 60px 20px 40px;
                        &:nth-last-of-type(1) {
                        }
                        &:nth-of-type(2n) {
                            td {
                            }
                        }
                        td {
                            &::before {
                            }
                            #edit_from_cart {
                            }
                        }
                        td.product-remove {
                            right: 30px;
                            a {
                            }
                        }
                        td.product-thumbnail {
                            padding-left: 0;
                            &::before {
                            }
                            a {
                                img {
                                }
                            }
                        }
                        td.product-quantity {
                            .quantity {
                                .quantity-nav {
                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {
                                    }

                                    input[type=number] {
                                    }
                                    input[type="number"] {
                                        &:focus {
                                        }
                                    }
                                    .quantity-nav-fake {
                                        .quantity-button {
                                            &:nth-of-type(2) {
                                                img {
                                                }
                                            }
                                            img {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-collaterals {
            .cart_totals  {
                table.shop_table {
                    tbody {
                        tr {
                            &:nth-of-type(2n) {
                                td {
                                }
                            }
                            &.woocommerce-shipping-totals {
                                td {
                                    ul {
                                        li {
                                            label {
                                                @media all and(min-width: 1200px) {
                                                }
                                            }
                                            input {
                                            }
                                            & > span {
                                                &.active {
                                                    &::after {
                                                    }
                                                }
                                                &::after {
                                                }
                                            }
                                        }
                                    }
                                    p.woocommerce-shipping-destination {
                                    }
                                    form {
                                        
                                    }
                                }
                            }
                            td {
                                padding: 10px 20px;
                                &:nth-of-type(1) {
                                    &::before {
                                    }
                                }
                                &::before {
                                    @media all and(min-width: 1200px) {
                                    }
                                }
                                a, span {
                                    @media all and(min-width: 1200px) {
                                    }
                                }
                            }
                        }
                    }
                }
                .coupon-fake {
                    padding: 0 20px 10px;
                    .form {
                        input {
                            &:focus {
                            }
                        }
                        a {
                            p {
                            }
                        }
                    }
                }
                .wc-proceed-to-checkout {
                    a {
                        p {
                        }
                        &:focus {
                        }
                        &:hover {
                        }
                    }
                }
            }
        }
    }


    // ·············································································· //
    // ······················        AREA DE USUARIO        ························· //
    // ·············································································· //

    .woocommerce {
        padding: 100px 0 120px;
        &.main-wrapper {
            padding: 100px 80px 120px;            
        }

        .first-column {
        }

        .register-column, .woocommerce-MyAccount-content {
            max-width: calc(~'100% - 120px');
            float: initial;
            padding: 60px 60px;

            .woocommerce-customer-details {
                h2 {
                    @media all and(min-width: 1200px) {
                    }
                }
                address {
                    padding: 40px 80px;
                }
            }

            .icp_projects_list {
                table-layout:fixed;
                tbody {
                    tr {
                        &:not(:nth-child(1)) {
                            &:nth-last-of-type(1) {
                            }
                        }
                        th {
                            display:table-cell;
                            width: 18%;
                            &:nth-of-type(1) {
                                width: 150px;
                            }
                            p {
                            }
                        }
                        td {
                            display:table-cell;
                            width: 18%;
                            &:nth-of-type(1) {
                                width: 150px;
                            }
                            a {
                            }
                            p {
                            }
                        }
                    }
                }
            }

            .woocommerce-Addresses {
                &::before, &::after {
                }
                .woocommerce-Address {
                    &:nth-last-of-type(1) {
                    }
                    .woocommerce-Address-title {
                        padding: 40px 50px;
                    }
                }
            }
        }

        address {
            margin: 30px 0;
        }

        .title-flex {
            img {
            }
            h5 {
            }
        }

        form {
            p {
                &:nth-last-of-type(1) {
                }
                label {
                }
                input {
                    &::placeholder {
                    }
                    &:focus {
                    }
                }

                button {
                }
                
                button.btn-primary {
                    &:focus {
                    }
                    &:hover {
                    }
                }

                button.btn-secondary {
                    &:focus {
                    }
                    &:hover {
                    }
                }
            }
            fieldset {
                legend {
                }
            }
        }

        h3 {
        }

        h5 {
        }

        .login-column {
        }
    }

}