/************************************************************/
/************************************************************/
//********   ************SIROPPE***********   **************//  
/************************************************************/
/************************************************************/

html,body{
    height: 100%;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


// ===========================================================
// =========================== CSS ===========================
// ===========================================================


// *********************** Imports *********************** //

// Common
@import "common/common.less";
// Buttons
@import "common/buttons.less";
// Colours
@import "common/colours.less";
// Fuentes
@import "common/fonts.less";
// Mixins
@import "common/mixins.less";
// Templates
@import "common/templates.less";


// *********************** Imagenes *********************** //

*{ 
image-rendering: optimizeSpeed;             /*                     */
image-rendering: -moz-crisp-edges;          /* Firefox             */
image-rendering: -o-crisp-edges;            /* Opera               */
image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
image-rendering: optimize-contrast;         /* CSS3 Proposed       */
-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

// ********************* Media queries ********************

// Impresión
@media print {
	@import "others/print.less";
}

@import "320.less";

@media only screen and (min-width: 480px) {
	@import "480.less";
}

@media only screen and (min-width: 768px) {
	@import "768.less";
}

@media only screen and (min-width: 992px) {
	@import "992.less";
}

@media only screen and (min-width: 1200px) {
    @import "1200.less";
}

@media only screen and (min-width: 1330px) {
    @import "1330.less";
}

@media only screen and (min-width: 1400px) {
    @import "1400.less";
}

// 1600px - max
@media only screen and (min-width: 1600px) {
    @import "1600.less";
}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
}